Service References/Infrastructure/hcs-infrastructure-types-7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ns="http://www.w3.org/2000/09/xmldsig#" xmlns:tns="http://dom.gosuslugi.ru/schema/integration/7.3.0.1/infrastructure/" xmlns:base="http://dom.gosuslugi.ru/schema/integration/7.3.0.1/" elementFormDefault="qualified" targetNamespace="http://dom.gosuslugi.ru/schema/integration/7.3.0.1/infrastructure/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="hcs-basetypes-7.3.0.1.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/7.3.0.1/" />
  <xs:element name="importOKIRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???????????????????? ???? ?????? </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="RKIItem">
              <xs:annotation>
                <xs:documentation>???????????? ???????????????????????? ????????????????????????????</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:sequence>
                    <xs:element ref="base:TransportGUID" />
                    <xs:element minOccurs="0" name="OKIGUID" type="base:GUIDType">
                      <xs:annotation>
                        <xs:documentation>?????????????????????????? ?????? ?????? ??????</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                  <xs:choice>
                    <xs:element name="OKI">
                      <xs:annotation>
                        <xs:documentation>??????</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:complexContent mixed="false">
                          <xs:extension base="tns:InfrastriuctureType" />
                        </xs:complexContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element fixed="true" name="Termination" type="xs:boolean">
                      <xs:annotation>
                        <xs:documentation>?????????????????????? ???????????? ?????? ?????????????? ??????</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:choice>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
    <xs:key name="importOKIRequest_TransportGUIDKey">
      <xs:selector xpath=".//base:TransportGUID" />
      <xs:field xpath="." />
    </xs:key>
  </xs:element>
  <xs:element name="exportOKIRequest">
    <xs:annotation>
      <xs:documentation>?????????????? ?????? </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="OKIType" type="base:nsiRef">
              <xs:annotation>
                <xs:documentation>?????? ??????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" fixed="true" name="ExpiredManagement" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>?????? ???????????? ?? ???????????????? ???????????? ???????????????????? </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="OKTMO" type="base:OKTMORefType">
              <xs:annotation>
                <xs:documentation>??????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="RSOOrganizationGUID" type="base:GUIDType">
              <xs:annotation>
                <xs:documentation>?????????????????????? ???????????? ??????      ?????????????????????????? ??????</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="exportOKIResult">
    <xs:annotation>
      <xs:documentation>?????????? ???? ?????????????? ??????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:choice>
            <xs:element maxOccurs="unbounded" name="ExportOKIResult" type="tns:exportOKIResultType" />
            <xs:element maxOccurs="unbounded" ref="base:ErrorMessage" />
          </xs:choice>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="exportOKIResultType">
    <xs:sequence>
      <xs:element name="OKIGuid" type="base:GUIDType">
        <xs:annotation>
          <xs:documentation>?????????????????????????? ??????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CodeOKI" type="tns:CodeOKIType">
        <xs:annotation>
          <xs:documentation>???????????????????? ?????????? ?? ?????? </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OKI">
        <xs:annotation>
          <xs:documentation>??????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="tns:InfrastriuctureType" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getStateResult">
    <xs:annotation>
      <xs:documentation>?????????????? ?????????????? ?????????????????????????? ??????????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseAsyncResponseType">
          <xs:choice minOccurs="0">
            <xs:element maxOccurs="unbounded" ref="base:ErrorMessage" />
            <xs:element maxOccurs="unbounded" name="ImportResult" type="base:CommonResultType" />
            <xs:element maxOccurs="unbounded" name="ExportOKIResult" type="tns:exportOKIResultType" />
          </xs:choice>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ResourceType">
    <xs:annotation>
      <xs:documentation>???????????? </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="MunicipalResource" type="base:nsiRef">
        <xs:annotation>
          <xs:documentation>???????????? ???? ?????? "?????? ?????????????????????????? ??????????????" (???????????????????? ?????????? 2)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TotalLoad" type="tns:PowerType">
        <xs:annotation>
          <xs:documentation>???????????????????????????? ????????????????, ?? ??.??.:</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="IndustrialLoad" type="tns:PowerType">
        <xs:annotation>
          <xs:documentation>????????????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="SocialLoad" type="tns:PowerType">
        <xs:annotation>
          <xs:documentation>???????????????????? ??????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PopulationLoad" type="tns:PowerType">
        <xs:annotation>
          <xs:documentation>??????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InfrastriuctureType">
    <xs:sequence>
      <xs:element name="Name">
        <xs:annotation>
          <xs:documentation>???????????????????????? ?????????????? </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="tns:ShortTextType">
            <xs:minLength value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Base" type="base:nsiRef">
        <xs:annotation>
          <xs:documentation>???????????? ???? ?????? "?????????????????? ???????????????????????? ?????????????? ????????????????????????????" (???????????????????? ?????????? 39)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AttachmentList" type="base:AttachmentType">
        <xs:annotation>
          <xs:documentation>?????????????????? ???????????????????? ????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice>
        <xs:element name="EndManagmentDate" type="xs:date">
          <xs:annotation>
            <xs:documentation>?????????????????? ????????????????????</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element fixed="true" name="IndefiniteManagement" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>???????????????????? ????????????????????</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:element minOccurs="0" name="ManagerOKI" type="tns:ManagerOKIType">
        <xs:annotation>
          <xs:documentation>?????????????????????? ???????????? ?????? ??????????????????????, ?????????????????????? ??????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OKIType">
        <xs:annotation>
          <xs:documentation>???????????? ???? ?????? "?????? ??????" (???????????????????? ?????????? 33)</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="base:nsiRef">
              <xs:choice>
                <xs:choice>
                  <xs:element minOccurs="0" name="WaterIntakeType" type="base:nsiRef">
                    <xs:annotation>
                      <xs:documentation>???????????? ???? ?????? "?????? ?????????????????????????? ????????????????????" (???????????????????? ?????????? 34)</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="ESubstationType" type="base:nsiRef">
                    <xs:annotation>
                      <xs:documentation>???????????? ???? ?????? "?????? ?????????????????????????? ????????????????????" (???????????????????? ?????????? 37)</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="PowerPlantType" type="base:nsiRef">
                    <xs:annotation>
                      <xs:documentation>???????????? ???? ?????? "?????? ????????????????????????????" (???????????????????? ?????????? 38)</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:choice>
                <xs:element minOccurs="0" name="FuelType" type="base:nsiRef">
                  <xs:annotation>
                    <xs:documentation>???????????? ???? ?????? "?????? ??????????????" (???????????????????? ?????????? 40)</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="GasNetworkType" type="base:nsiRef">
                  <xs:annotation>
                    <xs:documentation>???????????? ???? ?????? "?????? ?????????????????????????????????????????? ????????" (???????????????????? ?????????? 35)</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:choice>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element maxOccurs="unbounded" name="Services" type="base:nsiRef">
        <xs:annotation>
          <xs:documentation>???????????? ???? ?????? "?????? ???????????????????????? ????????????" (???????????????????? ?????????? 3)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OKTMO" type="base:OKTMORefType">
        <xs:annotation>
          <xs:documentation>??????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Adress" type="tns:ShortTextType">
        <xs:annotation>
          <xs:documentation>?????????? ??????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CommissioningYear">
        <xs:annotation>
          <xs:documentation>?????? ?????????? ?? ????????????????????????</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="base:YearType">
            <xs:minInclusive value="1850" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" fixed="true" name="IndependentSource" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>?????????????? ?????????????????????? ?????????????????? ??????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Deterioration">
        <xs:annotation>
          <xs:documentation>?????????????? ???????????? (%)</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="tns:CentesimalType">
            <xs:totalDigits value="3" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="ObjectProperty">
        <xs:annotation>
          <xs:documentation>???????????????????????????? ??????????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:choice>
            <xs:element maxOccurs="unbounded" name="Resources">
              <xs:annotation>
                <xs:documentation>???????????????????????????? ???????????????? ??????????????. ???????????????? ?????????????????????? ?? ???????????????? ?????????????????? ?? ???????????????????????? ?? ?????????? ???????????????? ?????????????????? ???????????????? ?? ???????????????????????????? ???????????????? (???????????? ???? ???????????????????? ????????????)?? ?????????????????????? ???????? ???????????????????????? ??????????????.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:complexContent mixed="false">
                  <xs:extension base="tns:ResourceType">
                    <xs:sequence>
                      <xs:element minOccurs="0" name="SetPower" type="tns:PowerType">
                        <xs:annotation>
                          <xs:documentation>?????????????????????????? ????????????????.???????????????? ?????????????????????? ?? ???????????????? ?????????????????? ?? ???????????????????????? ?? ?????????? "?????????????? ?????????????????? ???????????? ???? ???????????????????? ????????????" ?????????????????????? "?????? ?????????????????????????? ??????????????"</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element minOccurs="0" name="SitingPower" type="tns:PowerType">
                        <xs:annotation>
                          <xs:documentation>?????????????????????????? ????????????????. ???????????????? ?????????????????????? ?? ???????????????? ?????????????????? ?? ???????????????????????? ?? ?????????? "?????????????? ?????????????????? ???????????? ???? ???????????????????? ????????????" ?????????????????????? "?????? ?????????????????????????? ??????????????"</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                    </xs:sequence>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="TransportationResources">
                <xs:annotation>
                  <xs:documentation>???????????????????????????? ???????????????? (??????????????????????????????) ???????????????????????? ????????????????. ???????????????? ?????????????????????? ?? ???????????????? ?????????????????? ?? ???????????????????????? ?? ?????????? ???????????????? ?????????????????? ???????????????? ?? ???????????????????????????? ???????????????? (???????????? ???? ???????????????????? ????????????)?? ?????????????????????? ???????? ???????????????????????? ??????????????.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:complexContent mixed="false">
                    <xs:extension base="tns:ResourceType">
                      <xs:sequence>
                        <xs:element name="VolumeLosses">
                          <xs:annotation>
                            <xs:documentation>?????????? ????????????. ???????????????? ?????????????????????? ?? ???????????????? ?????????????????? ?? ???????????????????????? ?? ?????????? ???????????????? ?????????????????? (???????????? ???? ???????????????????? ????????????)?? ?????????????????????? ???????? ???????????????????????? ??????????????</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="tns:PowerType">
                              <xs:totalDigits value="8" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                        <xs:element minOccurs="0" name="CoolantType" type="base:nsiRef">
                          <xs:annotation>
                            <xs:documentation>???????????? ???? ?????? "?????? ??????????????????????????" (???????????????????? ?????????? 41)</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                      </xs:sequence>
                    </xs:extension>
                  </xs:complexContent>
                </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="unbounded" name="NetPieces">
                <xs:annotation>
                  <xs:documentation>???????????????? ???? ???????????????? ????????</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="Name">
                      <xs:annotation>
                        <xs:documentation>???????????????????????? ??????????????</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="tns:ShortTextType">
                          <xs:maxLength value="100" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="Diameter">
                      <xs:annotation>
                        <xs:documentation>??????????????(????)</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="tns:PowerType">
                          <xs:totalDigits value="8" />
                          <xs:fractionDigits value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="Length">
                      <xs:annotation>
                        <xs:documentation>??????????????????????????(????)</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="tns:PowerType">
                          <xs:totalDigits value="8" />
                          <xs:fractionDigits value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="NeedReplaced">
                      <xs:annotation>
                        <xs:documentation>?????????????????? ?? ????????????(????)</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="tns:PowerType">
                          <xs:totalDigits value="8" />
                          <xs:fractionDigits value="3" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="Wearout" type="tns:CentesimalType">
                      <xs:annotation>
                        <xs:documentation>??????????(%)</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="PressureType" type="base:nsiRef">
                      <xs:annotation>
                        <xs:documentation>???????????? ???? ?????? "?????????????? ???????????????? ??????????????????????" (???????????????????? ?????????? 36 )</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="VoltageType" type="base:nsiRef">
                      <xs:annotation>
                        <xs:documentation>???????????? ???? ?????? "?????????????? ????????????????????" (???????????????????? ?????????? 45 )</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="CountAccidents">
                <xs:annotation>
                  <xs:documentation>?????????? ???????????? ???? 100 ???? ??????????</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:nonNegativeInteger">
                    <xs:maxInclusive value="100" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element minOccurs="0" name="OKILinks">
                <xs:annotation>
                  <xs:documentation>???????????? ???? ??????????????????/??????????????????</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="SourceOKI" type="base:GUIDType">
                      <xs:annotation>
                        <xs:documentation>C?????????? ???? ???????????????? ?????????????????????????? ?????? ?? ?????? ??????</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="ReceiverOKI" type="base:GUIDType">
                      <xs:annotation>
                        <xs:documentation>?????????????????????????? ?????? ?? ?????? ??????</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="AddInfo" type="base:LongTextType">
        <xs:annotation>
          <xs:documentation>???????????????????????????? ????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AttachmentsEnergyEfficiency" type="base:AttachmentType">
        <xs:annotation>
          <xs:documentation>??????????????????, ???????????????????????????? ???????????????????????? ?????????????????????? ???????????????????????????? ??????????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ManagerOKIType">
    <xs:choice>
      <xs:element name="RSO">
        <xs:annotation>
          <xs:documentation>??????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RSOOrganizationGUID" type="base:GUIDType">
              <xs:annotation>
                <xs:documentation>?????????????????????????? ??????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="Name" type="tns:eTextType">
              <xs:annotation>
                <xs:documentation>???????????????????????? ??????</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element fixed="true" name="Municipalities" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>???? ?????????????? ???????????????????????????? ??????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="eTextType">
    <xs:annotation>
      <xs:documentation>?????????????????? ???????? 500</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="500" />
      <xs:minLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PowerType">
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="9" />
      <xs:pattern value="\d+(\.\d{1,3})?" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="LongTextType">
    <xs:annotation>
      <xs:documentation>?????????????????? ???????? 255</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="255" />
      <xs:minLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="nsiCodeType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MonthType">
    <xs:annotation>
      <xs:documentation>?????????? ????????????</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:byte">
      <xs:minInclusive value="1" />
      <xs:maxInclusive value="12" />
      <xs:enumeration value="01" />
      <xs:enumeration value="02" />
      <xs:enumeration value="03" />
      <xs:enumeration value="04" />
      <xs:enumeration value="05" />
      <xs:enumeration value="06" />
      <xs:enumeration value="07" />
      <xs:enumeration value="08" />
      <xs:enumeration value="09" />
      <xs:enumeration value="10" />
      <xs:enumeration value="11" />
      <xs:enumeration value="12" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CentesimalType">
    <xs:restriction base="xs:decimal">
      <xs:maxInclusive value="100" />
      <xs:fractionDigits value="1" />
      <xs:totalDigits value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ShortTextType">
    <xs:annotation>
      <xs:documentation>???????????????? ?????????????????? ???????? 140</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="140" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CodeOKIType">
    <xs:annotation>
      <xs:documentation>???????????????????? ?????? ?????????????? ????????????????????????????</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[(0-9)]{11}[(??-??)]{3}" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>