Service References/DeviceMetering/hcs-device-metering-types-7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:tns="http://dom.gosuslugi.ru/schema/integration/7.3.0.1/device-metering/" xmlns:base="http://dom.gosuslugi.ru/schema/integration/7.3.0.1/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://dom.gosuslugi.ru/schema/integration/7.3.0.1/device-metering/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="hcs-basetypes-7.3.0.1.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/7.3.0.1/" />
  <xs:element name="importMeteringDeviceValuesRequest">
    <xs:annotation>
      <xs:documentation>???????????? ?????????????? ?????????????????? ???????????????? ??????????.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element name="FIASHouseGuid" type="base:GUIDType">
              <xs:annotation>
                <xs:documentation>???????????????????? ???????????????????? ?????????????????????????? ???????? ???? ????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1000" name="MeteringDevicesValues">
              <xs:annotation>
                <xs:documentation>???????????????????? ????</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="MeteringDeviceGUID" type="base:MeteringDeviceGUIDType">
                    <xs:annotation>
                      <xs:documentation>?????????????????????????? ????</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="AccountGUID" type="base:GUIDType">
                    <xs:annotation>
                      <xs:documentation>?????????????????????????? ???????????????? ??????????</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:choice>
                    <xs:element name="OneRateDeviceValue">
                      <xs:annotation>
                        <xs:documentation>?????????????????? ???? ?????????????? ????????????????/?????????????? ????????; ????????; ???????????????? ??????????????</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="CurrentValue">
                            <xs:annotation>
                              <xs:documentation>?????????????? ??????????????????</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:complexContent mixed="false">
                                <xs:extension base="base:OneRateMeteringValueType">
                                  <xs:sequence>
                                    <xs:element ref="base:TransportGUID" />
                                  </xs:sequence>
                                </xs:extension>
                              </xs:complexContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="ControlValue">
                            <xs:annotation>
                              <xs:documentation>?????????????????????? ??????????????????</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:complexContent mixed="false">
                                <xs:extension base="base:OneRateMeteringValueType">
                                  <xs:sequence>
                                    <xs:element ref="base:TransportGUID" />
                                  </xs:sequence>
                                </xs:extension>
                              </xs:complexContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="VerificationValue">
                            <xs:annotation>
                              <xs:documentation>?????????????????? ??????????????, ???? ???????????????? ??????????????</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="StartVerificationValue" type="base:OneRateMeteringValueType">
                                  <xs:annotation>
                                    <xs:documentation>?????????????????? ???????????? ??????????????</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="EndVerificationValue" type="base:OneRateMeteringValueType">
                                  <xs:annotation>
                                    <xs:documentation>?????????????????? ?????????????????? ??????????????</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:choice>
                                  <xs:element name="PlannedVerification" type="xs:boolean">
                                    <xs:annotation>
                                      <xs:documentation>?????????????? ???????????????? ??????????????</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                  <xs:element name="VerificationReason" type="base:nsiRef">
                                    <xs:annotation>
                                      <xs:documentation>?????????????? ???????????? ???? ???? ?????????? (?????? 78). ???????????????? ?????? ???????????????????? ??????????????.</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                </xs:choice>
                                <xs:element ref="base:TransportGUID" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ElectricDeviceValue">
                      <xs:annotation>
                        <xs:documentation>?????????????????? ???? ?????????????? ????????????????????????????</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="CurrentValue">
                            <xs:annotation>
                              <xs:documentation>?????????????? ??????????????????</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:complexContent mixed="false">
                                <xs:extension base="base:ElectricMeteringValueType">
                                  <xs:sequence>
                                    <xs:element ref="base:TransportGUID" />
                                  </xs:sequence>
                                </xs:extension>
                              </xs:complexContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="ControlValue">
                            <xs:annotation>
                              <xs:documentation>?????????????????????? ??????????????????</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:complexContent mixed="false">
                                <xs:extension base="base:ElectricMeteringValueType">
                                  <xs:sequence>
                                    <xs:element ref="base:TransportGUID" />
                                  </xs:sequence>
                                </xs:extension>
                              </xs:complexContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="VerificationValue">
                            <xs:annotation>
                              <xs:documentation>?????????????????? ??????????????, ???? ???????????????? ??????????????</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="StartVerificationValue" type="base:ElectricMeteringValueType">
                                  <xs:annotation>
                                    <xs:documentation>?????????????????? ???????????? ??????????????</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="EndVerificationValue" type="base:ElectricMeteringValueType">
                                  <xs:annotation>
                                    <xs:documentation>?????????????????? ?????????????????? ??????????????</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:choice>
                                  <xs:element name="PlannedVerification" type="xs:boolean">
                                    <xs:annotation>
                                      <xs:documentation>?????????????? ???????????????? ??????????????</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                  <xs:element name="VerificationReason" type="base:nsiRef">
                                    <xs:annotation>
                                      <xs:documentation>?????????????? ???????????? ???? ???? ?????????? (?????? 78). ???????????????? ?????? ???????????????????? ??????????????.</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                </xs:choice>
                                <xs:element ref="base:TransportGUID" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:choice>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
    <xs:key name="importMeteringDeviceValuesRequest_TransportGUIDKey">
      <xs:selector xpath=".//base:TransportGUID" />
      <xs:field xpath="." />
    </xs:key>
  </xs:element>
  <xs:element name="exportMeteringDeviceHistoryRequest">
    <xs:annotation>
      <xs:documentation>?????????????? ?????????????? ?????????????????? ?? ?????????????? ???????????????? ??????????.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element name="FIASHouseGuid" type="base:GUIDType">
              <xs:annotation>
                <xs:documentation>???????????????????? ???????????????????? ?????????????????????????? ???????? ???? ????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:choice>
              <xs:element maxOccurs="100" name="MeteringDeviceType" type="base:GUIDType">
                <xs:annotation>
                  <xs:documentation>?????? ?????????????? ??????????</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element maxOccurs="100" name="MunicipalResource" type="base:GUIDType">
                <xs:annotation>
                  <xs:documentation>???????????????????????? ????????????</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element maxOccurs="100" name="MeteringDeviceGUID" type="base:GUIDType">
                <xs:annotation>
                  <xs:documentation>?????????????????????????? ????</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:choice>
            <xs:element minOccurs="0" name="CommissioningDateFrom" type="xs:date">
              <xs:annotation>
                <xs:documentation>???????? ?????????? ?? ???????????????????????? ??????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="CommissioningDateTo" type="xs:date">
              <xs:annotation>
                <xs:documentation>???????? ?????????? ?? ???????????????????????? ????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="SerchArchived" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>?????????????????? ????????????????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ArchiveDateFrom" type="xs:date">
              <xs:annotation>
                <xs:documentation>???????? ?????????????????? ??????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ArchiveDateTo" type="xs:date">
              <xs:annotation>
                <xs:documentation>???????? ?????????????????? ????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="inputDateFrom" type="xs:date">
              <xs:annotation>
                <xs:documentation>???????? ?????????? ?????????????????? "??"</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="inputDateTo" type="xs:date">
              <xs:annotation>
                <xs:documentation>???????? ?????????? ?????????????????? "????"</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="excludeISValues" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>?????????????????? ??????????????????, ?????????????????? ?????????????? ???? ?????????????? ????.
(?????????? ?????????????????? ?????????? ???????? ?????????????? ???? ???????????? ?????????? ??????, ?? ?? ?????????????? ???????????? ????) ???????? ???????? = "????????????", ???? ?????????????????????? ??????????????????, ?????????????????? ?????????? ?????? ?? ?? ?????????????? ???????????? ????, ?? ?????????????????? ?????????????? ?????????????????????? ?????? ??????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="exportMeteringDeviceHistoryResult">
    <xs:annotation>
      <xs:documentation>???????????? ???????????????? ?????????????????? ?? ?????????????? ???????????????? ??????????.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:choice>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="exportMeteringDeviceHistoryResult" type="tns:exportMeteringDeviceHistoryResultType" />
            <xs:element ref="base:ErrorMessage" />
          </xs:choice>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="exportMeteringDeviceHistoryResultType">
    <xs:sequence>
      <xs:element name="MeteringDeviceGUID" type="base:MeteringDeviceGUIDType">
        <xs:annotation>
          <xs:documentation>?????????????????????????? ????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MunicipalResource" type="base:GUIDType">
        <xs:annotation>
          <xs:documentation>???????????????????????? ????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice>
        <xs:element name="OneRateDeviceValue">
          <xs:annotation>
            <xs:documentation>?????????????????? ???? ?????????????? ????????????????/?????????????? ????????; ????????; ???????????????? ??????????????</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="BaseValue" type="base:OneRateMeteringValueType">
                <xs:annotation>
                  <xs:documentation>?????????????? ??????????????????</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" name="Values">
                <xs:annotation>
                  <xs:documentation>??????????????????</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:complexContent mixed="false">
                    <xs:extension base="base:OneRateMeteringValueKindType">
                      <xs:sequence>
                        <xs:element minOccurs="0" name="excludeISValues" type="xs:boolean">
                          <xs:annotation>
                            <xs:documentation>?????????????????? ??????????????????, ?????????????????? ?????????????? ???? ?????????????? ????.
(?????????? ?????????????????? ?????????? ???????? ?????????????? ???? ???????????? ?????????? ??????, ?? ?? ?????????????? ???????????? ????) ???????? ???????? = "????????????", ???? ?????????????????????? ??????????????????, ?????????????????? ?????????? ?????? ?? ?? ?????????????? ???????????? ????, ?? ?????????????????? ?????????????? ?????????????????????? ?????? ??????????????????</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                      </xs:sequence>
                    </xs:extension>
                  </xs:complexContent>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="ArchivedValues">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ArchivingReason" type="base:nsiRef">
                      <xs:annotation>
                        <xs:documentation>?????????????? ??????????????????. ???????????? ???? ?????? "?????????????? ?????????????????? ?????????????? ??????????" (???????????????????? ?????????? 21).</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ElectricDeviceValue">
          <xs:annotation>
            <xs:documentation>?????????????????? ???? ?????????????? ????????????????????????????</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="BaseValue" type="base:ElectricMeteringValueType">
                <xs:annotation>
                  <xs:documentation>?????????????? ??????????????????</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" name="Values">
                <xs:annotation>
                  <xs:documentation>??????????????????</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:complexContent mixed="false">
                    <xs:extension base="base:ElectricMeteringValueKindType">
                      <xs:sequence>
                        <xs:element minOccurs="0" name="excludeISValues" type="xs:boolean">
                          <xs:annotation>
                            <xs:documentation>?????????????????? ??????????????????, ?????????????????? ?????????????? ???? ?????????????? ????.
(?????????? ?????????????????? ?????????? ???????? ?????????????? ???? ???????????? ?????????? ??????, ?? ?? ?????????????? ???????????? ????) ???????? ???????? = "????????????", ???? ?????????????????????? ??????????????????, ?????????????????? ?????????? ?????? ?? ?? ?????????????? ???????????? ????, ?? ?????????????????? ?????????????? ?????????????????????? ?????? ??????????????????</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                      </xs:sequence>
                    </xs:extension>
                  </xs:complexContent>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="ArchivedValues">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ArchivingReason" type="base:nsiRef">
                      <xs:annotation>
                        <xs:documentation>?????????????? ??????????????????. ???????????? ???? ?????? "?????????????? ?????????????????? ?????????????? ??????????" (???????????????????? ?????????? 21).</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getStateResult">
    <xs:annotation>
      <xs:documentation>?????????????? ?????????????? ?????????????????????????? ??????????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseAsyncResponseType">
          <xs:choice minOccurs="0">
            <xs:element ref="base:ErrorMessage" />
            <xs:element maxOccurs="unbounded" name="ImportResult" type="base:CommonResultType" />
            <xs:element maxOccurs="unbounded" name="exportMeteringDeviceHistoryResult" type="tns:exportMeteringDeviceHistoryResultType" />
          </xs:choice>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
</xs:schema>