Service References/DeviceMetering/hcs-device-metering-service-71.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:base="http://dom.gosuslugi.ru/schema/integration/7.3.0.1/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://dom.gosuslugi.ru/schema/integration/7.3.0.1/device-metering-service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dm="http://dom.gosuslugi.ru/schema/integration/7.3.0.1/device-metering/" xmlns:ns="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://dom.gosuslugi.ru/schema/integration/7.3.0.1/device-metering-service/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema>
      <xs:import schemaLocation="hcs-device-metering-types-7.3.0.1.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/7.3.0.1/device-metering/" />
      <xs:import schemaLocation="hcs-basetypes-7.3.0.1.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/7.3.0.1/" />
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="Fault">
    <wsdl:part name="Fault" element="base:Fault" />
  </wsdl:message>
  <wsdl:message name="importMeteringDeviceValuesRequest">
    <wsdl:part name="importMeteringDeviceValuesRequest" element="dm:importMeteringDeviceValuesRequest" />
  </wsdl:message>
  <wsdl:message name="importMeteringDeviceValuesResult">
    <wsdl:part name="ImportResult" element="base:ImportResult" />
  </wsdl:message>
  <wsdl:message name="exportMeteringDeviceHistoryRequest">
    <wsdl:part name="exportMeteringDeviceHistoryRequest" element="dm:exportMeteringDeviceHistoryRequest" />
  </wsdl:message>
  <wsdl:message name="exportMeteringDeviceHistoryResult">
    <wsdl:part name="exportMeteringDeviceHistoryResult" element="dm:exportMeteringDeviceHistoryResult" />
  </wsdl:message>
  <wsdl:message name="RequestHeader">
    <wsdl:part name="Header" element="base:RequestHeader" />
  </wsdl:message>
  <wsdl:message name="ResultHeader">
    <wsdl:part name="Header" element="base:ResultHeader" />
  </wsdl:message>
  <wsdl:portType name="DeviceMeteringPortTypes">
    <wsdl:operation name="importMeteringDeviceValues">
      <wsdl:documentation>Передать показания ПУ</wsdl:documentation>
      <wsdl:input message="tns:importMeteringDeviceValuesRequest" />
      <wsdl:output message="tns:importMeteringDeviceValuesResult" />
      <wsdl:fault name="InvalidRequest" message="tns:Fault" />
    </wsdl:operation>
    <wsdl:operation name="exportMeteringDeviceHistory">
      <wsdl:documentation>Получить историю показаний ПУ</wsdl:documentation>
      <wsdl:input message="tns:exportMeteringDeviceHistoryRequest" />
      <wsdl:output message="tns:exportMeteringDeviceHistoryResult" />
      <wsdl:fault name="InvalidRequest" message="tns:Fault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DeviceMeteringBinding" type="tns:DeviceMeteringPortTypes">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="importMeteringDeviceValues">
      <soap:operation soapAction="urn:importMeteringDeviceValues" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RequestHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:ResultHeader" part="Header" use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidRequest">
        <soap:fault use="literal" name="InvalidRequest" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="exportMeteringDeviceHistory">
      <soap:operation soapAction="urn:exportMeteringDeviceHistory" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RequestHeader" part="Header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:ResultHeader" part="Header" use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidRequest">
        <soap:fault use="literal" name="InvalidRequest" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DeviceMeteringService">
    <wsdl:documentation>Сервис управления приборами учета и передачей показаний</wsdl:documentation>
    <wsdl:port name="DeviceMeteringPort" binding="tns:DeviceMeteringBinding">
      <soap:address location="http://dom.gosuslugi.ru/integration/services/DeviceMetering" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>