Service References/NsiCommon/hcs-nsi-common-types-81.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:tns="http://dom.gosuslugi.ru/schema/integration/8.6.0.6/nsi-common/" xmlns:base="http://dom.gosuslugi.ru/schema/integration/8.6.0.6/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://dom.gosuslugi.ru/schema/integration/8.6.0.6/nsi-common/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="hcs-basetypes-8.6.0.6.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/8.6.0.6/" />
  <xs:element name="exportNsiListRequest">
    <xs:annotation>
      <xs:documentation>???????????? ?????????????????? ?????????????? ????????????????????????.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType" />
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="exportNsiListResult">
    <xs:annotation>
      <xs:documentation>???????????????? ???????????????????????? ?? ?????????? ???????????????????? ?????????????????? ?????????????? ???? ??????.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>?????????????????? ??????. ???????????????? ???????????????????????? ?? ?????????????????? ???????? ???????????????????? ?????????????????? ?????????????? ???? ??????.</xs:documentation>
      </xs:annotation>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:choice>
            <xs:element name="NsiList" type="base:NsiListType">
              <xs:annotation>
                <xs:documentation>???????????????? ???????????????????????? ?? ?????????????????? ???????? ???????????????????? ?????????????????? ?????????????? ???? ??????.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element ref="base:ErrorMessage" />
          </xs:choice>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="exportNsiItemRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ?????????????????? ???????????? ??????????????????????.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element name="RegistryNumber" type="base:NsiItemRegistryNumberType">
              <xs:annotation>
                <xs:documentation>???????????????????? ?????????? ??????????????????????.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ModifiedAfter" type="xs:dateTime">
              <xs:annotation>
                <xs:documentation>???????? ?? ??????????, ???????????????????? ?????????? ?????????????? ???????????????? ?????????????????????? ???????????? ???????? ???????????????????? ?? ????????????. ???????? ???? ??????????????, ???????????????????????? ?????? ???????????????? ??????????????????????.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="exportNsiItemResult">
    <xs:annotation>
      <xs:documentation>?????????????? ???????????? ??????????????????????.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>?????????????????? ??????. ???????????? ??????????????????????.</xs:documentation>
      </xs:annotation>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:choice>
            <xs:element name="NsiItem" type="base:NsiItemType">
              <xs:annotation>
                <xs:documentation>???????????? ??????????????????????.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element ref="base:ErrorMessage" />
          </xs:choice>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStateResult">
    <xs:annotation>
      <xs:documentation>?????????????? ?????????????? ?????????????????????????? ??????????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseAsyncResponseType">
          <xs:choice minOccurs="0">
            <xs:element ref="base:ErrorMessage" />
            <xs:element name="NsiItem" type="base:NsiItemType" />
            <xs:element name="NsiList" type="base:NsiListType" />
          </xs:choice>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
</xs:schema>