Service References/Inspection/hcs-inspection-types-711.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:tns="http://dom.gosuslugi.ru/schema/integration/7.3.0.1/inspection/" xmlns:base="http://dom.gosuslugi.ru/schema/integration/7.3.0.1/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://dom.gosuslugi.ru/schema/integration/7.3.0.1/inspection/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="hcs-basetypes-7.3.0.1.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/7.3.0.1/" />
  <xs:simpleType name="InspectionPlanVersionStateType">
    <xs:annotation>
      <xs:documentation>???????????? ???????????? ?????????? ????????????????. </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Draft">
        <xs:annotation>
          <xs:documentation>????????????????.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Signed">
        <xs:annotation>
          <xs:documentation>????????????????.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PlannedExaminationVersionStateType">
    <xs:annotation>
      <xs:documentation>???????????? ???????????? ???????????????? ????????????????. </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Draft">
        <xs:annotation>
          <xs:documentation>????????????????.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Published">
        <xs:annotation>
          <xs:documentation>????????????????????????.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PlannedExaminationStateType">
    <xs:annotation>
      <xs:documentation>???????????? ???????????????? ????????????????.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Planned">
        <xs:annotation>
          <xs:documentation>??????????????????????????.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Cancelled">
        <xs:annotation>
          <xs:documentation>????????????????.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Finished" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExaminationVersionStateType">
    <xs:annotation>
      <xs:documentation>???????????? ???????????? ????????????????.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Draft">
        <xs:annotation>
          <xs:documentation>????????????????.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Published">
        <xs:annotation>
          <xs:documentation>????????????????????????.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExaminationStateType">
    <xs:annotation>
      <xs:documentation>???????????? ????????????????.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Executing">
        <xs:annotation>
          <xs:documentation>??????????????????????.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Finished">
        <xs:annotation>
          <xs:documentation>??????????????????.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Cancelled">
        <xs:annotation>
          <xs:documentation>????????????????.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PreceptStateType">
    <xs:annotation>
      <xs:documentation>???????????? ??????????????????????.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Active">
        <xs:annotation>
          <xs:documentation>???? ???????????????? (???? ????????????????).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Cancelled">
        <xs:annotation>
          <xs:documentation>???????????????? (????????????????).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Fulfiled" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="OffenceStateType">
    <xs:annotation>
      <xs:documentation>???????????? ??????????????????.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Active">
        <xs:annotation>
          <xs:documentation>???? ??????????????.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Cancelled">
        <xs:annotation>
          <xs:documentation>??????????????.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Fulfiled" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String50Type">
    <xs:annotation>
      <xs:documentation>???????????? ???? ?????????? 50 ????????????????.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="50" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String255Type">
    <xs:annotation>
      <xs:documentation>???????????? ???? ?????????? 255 ????????????????.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="255" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String2000Type">
    <xs:annotation>
      <xs:documentation>???????????? ???? ?????????? 2000 ????????????????.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="2000" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TimeUnitCountType">
    <xs:annotation>
      <xs:documentation>?????????? ?????????????????? ????????????.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:double">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="999" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumberType">
    <xs:annotation>
      <xs:documentation>???????????????????? ??????????.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int">
      <xs:minInclusive value="0" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CitizenInfoType">
    <xs:annotation>
      <xs:documentation>???????????????? ?? ???????????????????? ????????.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="LastName" type="tns:String255Type">
        <xs:annotation>
          <xs:documentation>??????????????.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FirstName" type="tns:String255Type">
        <xs:annotation>
          <xs:documentation>??????.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="MiddleName" type="tns:String255Type">
        <xs:annotation>
          <xs:documentation>????????????????.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ScheduledExaminationSubjectInfoType">
    <xs:annotation>
      <xs:documentation>???????????????? ?? ???????????????? ???????????????? ?????? ???????????????? ????????????????.</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="Organization">
        <xs:annotation>
          <xs:documentation>?????????????????????? ????????.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="base:RegOrgType">
              <xs:sequence>
                <xs:element name="ActualActivityPlace" type="tns:String2000Type">
                  <xs:annotation>
                    <xs:documentation>?????????? ???????????????????????? ?????????????????????????? ????????????????????????.</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="Individual">
        <xs:annotation>
          <xs:documentation>???????????????????????????? ??????????????????????????????.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="base:RegOrgType">
              <xs:sequence>
                <xs:element name="ActualActivityPlace" type="tns:String2000Type">
                  <xs:annotation>
                    <xs:documentation>?????????? ???????????????????????? ?????????????????????????? ????????????????????????.</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="UnscheduledExaminationSubjectInfoType">
    <xs:annotation>
      <xs:documentation>???????????????? ?? ???????????????? ???????????????? ?????? ??????????????????????.</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="Organization">
        <xs:annotation>
          <xs:documentation>?????????????????????? ????????.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="base:RegOrgType">
              <xs:sequence>
                <xs:element name="ActualActivityPlace" type="tns:String2000Type">
                  <xs:annotation>
                    <xs:documentation>?????????? ???????????????????????? ?????????????????????????? ????????????????????????.</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="Individual">
        <xs:annotation>
          <xs:documentation>???????????????????????????? ??????????????????????????????.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="base:RegOrgType">
              <xs:sequence>
                <xs:element name="ActualActivityPlace" type="tns:String2000Type">
                  <xs:annotation>
                    <xs:documentation>?????????? ???????????????????????? ?????????????????????????? ????????????????????????.</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="Citizen" type="tns:CitizenInfoType">
        <xs:annotation>
          <xs:documentation>??????????????????.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="InspectionPlanType">
    <xs:annotation>
      <xs:documentation>???????????????? ?????????????????? ?????????? ????????????????.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Year" type="base:YearType">
        <xs:annotation>
          <xs:documentation>?????? ??????????.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ApprovalDate" type="xs:date">
        <xs:annotation>
          <xs:documentation>???????? ?????????????????????? ??????????.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="AdditionalInfo" type="tns:String2000Type">
        <xs:annotation>
          <xs:documentation>???????????????????????????? ????????????????????.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PlannedExaminationType">
    <xs:annotation>
      <xs:documentation>???????????????? ???????????????? (?????????? ?????????? ????????????????)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NumberInPlan">
        <xs:annotation>
          <xs:documentation>???????????????????? ??????????.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="tns:NumberType">
            <xs:totalDigits value="3" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Subject" type="tns:ScheduledExaminationSubjectInfoType">
        <xs:annotation>
          <xs:documentation>?????????????? ????????????????.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Objective" type="tns:String2000Type">
        <xs:annotation>
          <xs:documentation>???????? ???????????????????? ????????????????.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Base" type="base:nsiRef">
        <xs:annotation>
          <xs:documentation>?????????????????? ???????????????????? ????????????????. ?????? "?????????????????? ???????????????????? ????????????????" (???????????????????? ?????????? 68).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="AdditionalInfoAboutExamBase" type="tns:String2000Type">
        <xs:annotation>
          <xs:documentation>???????????????????????????? ???????????????????? ???? ???????????????????? ???????????????????? ????????????????.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="LastExaminationEndDate" type="xs:date">
        <xs:annotation>
          <xs:documentation>???????? ?????????????????? ?????????????????? ????????????????.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateFrom" type="xs:date">
        <xs:annotation>
          <xs:documentation>???????? ???????????? ???????????????????? ???????????????? </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Duration">
        <xs:annotation>
          <xs:documentation>???????? ???????????????????? ???????????????? ????????????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:choice>
            <xs:element name="WorkDays">
              <xs:annotation>
                <xs:documentation>?????????????? ????????</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:double">
                  <xs:minInclusive value="0" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="WorkHours">
              <xs:annotation>
                <xs:documentation>?????????????? ?????????? (?????? ?????? ?? ??????)</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:double">
                  <xs:minInclusive value="0" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="ExaminationForm" type="base:nsiRef">
        <xs:annotation>
          <xs:documentation>?????????? ?????????????????? ????????????????. ?????? "?????????? ???????????????????? ????????????????" (???????????????????? ?????????? 71).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="CooperationWith" type="tns:String2000Type">
        <xs:annotation>
          <xs:documentation>?????????? ???????????????????????????????? ?????????????? (????????????????) ??/?????? ?????????? ???????????????????????????? ????????????????,  ?? ??????????????  ???????????????? ???????????????????? ??????????????????.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExaminationType">
    <xs:annotation>
      <xs:documentation>????????????????.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ExaminationForm" type="base:nsiRef">
        <xs:annotation>
          <xs:documentation>?????????? ???????????????????? ????????????????. ?????? "?????????? ???????????????????? ????????????????" (???????????????????? ?????????? 71).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="OrderNumber" type="tns:String255Type">
        <xs:annotation>
          <xs:documentation>?????????? ???????????????????????? (??????????????).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="OrderDate" type="xs:date">
        <xs:annotation>
          <xs:documentation>???????? ?????????????????????? ???????????????????????? (??????????????).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExaminationTypeType">
        <xs:annotation>
          <xs:documentation>?????? ????????????????.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:choice>
            <xs:element name="Scheduled">
              <xs:annotation>
                <xs:documentation>???????????????? ????????????????.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Subject" type="tns:ScheduledExaminationSubjectInfoType">
                    <xs:annotation>
                      <xs:documentation>?????????????? ???????????????? (????, ????).</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="Unscheduled">
              <xs:annotation>
                <xs:documentation>?????????????????????? ????????????????.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Subject" type="tns:UnscheduledExaminationSubjectInfoType">
                    <xs:annotation>
                      <xs:documentation>?????????????? ???????????????? (????, ????, ??????????????????).</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="OversightActivitiesRef" type="base:nsiRef">
        <xs:annotation>
          <xs:documentation>?????? ?????????????????????????? ?????????????????????? ????????????????????????. ??????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Base" type="base:nsiRef">
        <xs:annotation>
          <xs:documentation>?????????????????? ???????????????????? ????????????????. ?????? "?????????????????? ???????????????????? ????????????????" (???????????????????? ?????????? 68).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="AdditionalInfoAboutExamBase" type="tns:String2000Type">
        <xs:annotation>
          <xs:documentation>???????????????????????????? ???????????????????? ???? ???????????????????? ???????????????????? ????????????????.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Objective" type="tns:String2000Type">
        <xs:annotation>
          <xs:documentation>???????? ???????????????????? ???????????????? ?? ?????????????????????? ?????????????????? ??????????????????.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="From" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>???????? ???????????????????? ???????????????? ?? (????????????????????????) - ???????? ???????????? ???????????????????? ????????????????.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="To" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>???????? ???????????????????? ???????????????? ???? (????????????????????????) - ???????? ?????????????????? ???????????????????? ????????????????.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Duration">
        <xs:annotation>
          <xs:documentation>???????? ???????????????????? ????????????????.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:choice>
            <xs:element name="WorkDays">
              <xs:annotation>
                <xs:documentation>?????????????? ????????.</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="tns:TimeUnitCountType" />
              </xs:simpleType>
            </xs:element>
            <xs:element name="WorkHours">
              <xs:annotation>
                <xs:documentation>?????????????? ?????????? (?????? ?????? ?? ??????).</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="tns:TimeUnitCountType" />
              </xs:simpleType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Object" type="base:nsiRef">
        <xs:annotation>
          <xs:documentation>?????????????? ????????????????. ?????? "?????????????? ????????????????" (???????????????????? ?????????? 69).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Tasks" type="tns:String2000Type">
        <xs:annotation>
          <xs:documentation>???????????? ???????????????????? ????????????????.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="AdditionalInfo" type="tns:String2000Type">
        <xs:annotation>
          <xs:documentation>???????????????????????????? ???????????????????? ?? ????????????????.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ExecutingInfo">
        <xs:annotation>
          <xs:documentation>???????????????????? ?? ???????????????????? ????????????????.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="Event" type="tns:ExaminationEventType">
              <xs:annotation>
                <xs:documentation>?????????????????????? ????????????????.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Place" type="tns:ExaminationPlaceType">
              <xs:annotation>
                <xs:documentation>?????????? ???????????????????? ????????????????.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="FinishedInfo">
        <xs:annotation>
          <xs:documentation>???????????????????? ?? ???????????????????? ????????????????.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Result" type="tns:ExaminationResultType">
              <xs:annotation>
                <xs:documentation>???????????????? ?? ???????????????????? ????????????????.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" name="OtherDocument" type="base:AttachmentType">
              <xs:annotation>
                <xs:documentation>???????????? ?????????????????? ???? ???????????? ????????????????.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="CancelledInfo" type="tns:CancelledInfoType">
        <xs:annotation>
          <xs:documentation>?????????????????? ???? ???????????? ????????????????.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Attachments" type="base:AttachmentType">
        <xs:annotation>
          <xs:documentation>?????????????????? ????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExaminationEventType">
    <xs:annotation>
      <xs:documentation>???????????????? ?? ??????????????????????.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Number" type="tns:String255Type">
        <xs:annotation>
          <xs:documentation>??????????.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Description" type="tns:String2000Type">
        <xs:annotation>
          <xs:documentation>??????????????????????.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="AdditionalInfo" type="tns:String2000Type">
        <xs:annotation>
          <xs:documentation>???????????????????????????? ????????????????????.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExaminationPlaceType">
    <xs:annotation>
      <xs:documentation>?????????? ???????????????????? ????????????????.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OrderNumber" type="tns:NumberType">
        <xs:annotation>
          <xs:documentation>???????????????????? ??????????.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FIASHouseGuid" type="base:FIASHouseGUIDType">
        <xs:annotation>
          <xs:documentation>?????????? ????????.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="AdditionalInfo" type="tns:String2000Type">
        <xs:annotation>
          <xs:documentation>???????????????????????????? ??????????????????.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExaminationResultType">
    <xs:annotation>
      <xs:documentation>?????????????????? ????????????????.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DocumentType" type="base:nsiRef">
        <xs:annotation>
          <xs:documentation>?????? ?????????????????? ???????????????????? ????????????????. ?????? "?????? ?????????????????? ???? ?????????????????????? ????????????????" (???????????????????? ?????????? 64).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Number" type="tns:String255Type">
        <xs:annotation>
          <xs:documentation>?????????? ?????????????????? ???????????????????? ????????????????.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Date" type="xs:date">
        <xs:annotation>
          <xs:documentation>???????? ?????????????????????? ?????????????????? ???????????????????? ????????????????.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Time" type="xs:time">
        <xs:annotation>
          <xs:documentation>?????????? ?????????????????????? ?????????????????? ???????????????????? ????????????????.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HasOffence" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>?????????????????? ????????????????. True - ?????????????????? ????????????????, False - ?????????????????? ???? ????????????????.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="AdditionalInfo" type="tns:String2000Type">
        <xs:annotation>
          <xs:documentation>???????????????????????????? ???????????????????? ?? ???????????????????? ????????????????.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PreceptType">
    <xs:annotation>
      <xs:documentation>??????????????????????.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Number" type="tns:String255Type">
        <xs:annotation>
          <xs:documentation>?????????? ??????????????????.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Date" type="xs:date">
        <xs:annotation>
          <xs:documentation>???????? ??????????????????.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="FIASHouseGUID" type="base:FIASHouseGUIDType">
        <xs:annotation>
          <xs:documentation>?????????? ????????.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ShortInfo" type="tns:String2000Type">
        <xs:annotation>
          <xs:documentation>?????????????? ????????????????????.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" name="Attachment" type="base:AttachmentType">
        <xs:annotation>
          <xs:documentation>????????????????.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OffenceType">
    <xs:annotation>
      <xs:documentation>???????????????????? ???? ???????????????????????????????? ????????????????????????????.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Number" type="tns:String255Type">
        <xs:annotation>
          <xs:documentation>?????????? ??????????????????.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Date" type="xs:date">
        <xs:annotation>
          <xs:documentation>???????? ?????????????????????? ??????????????????.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ShortInfo" type="tns:String2000Type">
        <xs:annotation>
          <xs:documentation>?????????????? ????????????????????.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" name="Attachment" type="base:AttachmentType">
        <xs:annotation>
          <xs:documentation>????????????????.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="importInspectionPlanRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ???????????? ?????????? ????????????????.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element maxOccurs="1000" name="ImportInspectionPlan">
              <xs:annotation>
                <xs:documentation>????????????????/?????????????????? ?????????? ????????????????</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:sequence>
                    <xs:element ref="base:TransportGUID" />
                    <xs:element minOccurs="0" name="InspectionPlanGuid" type="base:GUIDType">
                      <xs:annotation>
                        <xs:documentation>?????????????????????????? ?????????? ???????????????? ?? ?????? ??????.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                  <xs:element minOccurs="0" fixed="true" name="Sign" type="xs:boolean">
                    <xs:annotation>
                      <xs:documentation>?????????????? ???????????????????? ?????????? ???????????????? ?????? ???????????????????? ?? ?????? ??????. </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="InspectionPlan" type="tns:InspectionPlanType">
                    <xs:annotation>
                      <xs:documentation>??????????????????????/???????????????????? ???????? ????????????????. ???? ???????????????????? ?????? ???????????????????? ???????????????? ???????????? ?? ?????????????????? ????????????????????.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="1000" name="ImportPlannedExamination">
                    <xs:annotation>
                      <xs:documentation>???????????????? ???????????????? ???????????????? ?? ?????????? ????????????????.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:sequence>
                          <xs:element ref="base:TransportGUID" />
                          <xs:element minOccurs="0" name="PlannedExaminationGuid" type="base:GUIDType">
                            <xs:annotation>
                              <xs:documentation>?????????????????????????? ???????????????? ???????????????? ?? ?????? ??????.</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                        <xs:element minOccurs="0" fixed="true" name="Publish" type="xs:boolean">
                          <xs:annotation>
                            <xs:documentation>?????????????? ???????????????????? ???????????????? ????????????????</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="0" name="PlannedExamination" type="tns:PlannedExaminationType">
                          <xs:annotation>
                            <xs:documentation>???????????????? ????????????????.</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="0" fixed="true" name="DeletePlannedExamination" type="xs:boolean">
                          <xs:annotation>
                            <xs:documentation>???????????????? ???????????????? ????????????????</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="0" name="CancelPlannedExamination" type="tns:CancelledInfoType">
                          <xs:annotation>
                            <xs:documentation>???????????? ???????????????? ????????????????.</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" fixed="true" name="DeleteInspectionPlan" type="xs:boolean">
                    <xs:annotation>
                      <xs:documentation>???????????????? ?????????? ????????????????. ?????????? ?????????????????? ?????? ???????????????? ????????????????.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
    <xs:key name="importInspectionPlanRequest_TransportGUIDKey">
      <xs:selector xpath=".//base:TransportGUID" />
      <xs:field xpath="." />
    </xs:key>
  </xs:element>
  <xs:element name="exportInspectionPlansRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ?????????????? ???????????? ????????????????.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element minOccurs="0" name="YearFrom" type="base:YearType">
              <xs:annotation>
                <xs:documentation>?????????????????? ?????? (????????????????????????). ???????? ???? ??????????????????, ???? ?????? ?????????????????????? ???????????????????? ????????.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="YearTo" type="base:YearType">
              <xs:annotation>
                <xs:documentation>???????????????? ?????? (????????????????????????). ???????? ???? ??????????????????, ???? ?????? ?????????????????????? ?????????????????? ????????.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="exportInspectionPlansResult">
    <xs:annotation>
      <xs:documentation>?????????? ???? ???????????? ???? ?????????????? ???????????? ????????????????.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:choice>
            <xs:element maxOccurs="unbounded" name="exportInspectionPlanResult" type="tns:exportInspectionPlanResultType">
              <xs:annotation>
                <xs:documentation>???????????????????????? ???????? ????????????????.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element ref="base:ErrorMessage" />
          </xs:choice>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="exportInspectionPlanResultType">
    <xs:annotation>
      <xs:documentation>???????????????????????? ???????? ????????????????.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="InspectionPlanGuid" type="base:GUIDType">
        <xs:annotation>
          <xs:documentation>?????????????????????????? ?????????? ????????????????.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RegistryNumber" type="tns:String255Type">
        <xs:annotation>
          <xs:documentation>???????????????????? ?????????? ?????????? ????????????????.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VersionState" type="tns:InspectionPlanVersionStateType">
        <xs:annotation>
          <xs:documentation>???????????? ???????????? ?????????? ????????????????
???????????????????? ????????????????: 
Draft - ????????????
Signed - ????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InspectionPlan" type="tns:InspectionPlanType">
        <xs:annotation>
          <xs:documentation>???????? ????????????????.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlannedExamination">
        <xs:annotation>
          <xs:documentation>???????????????? ????????????????.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PlannedExaminationGuid" type="base:GUIDType">
              <xs:annotation>
                <xs:documentation>?????????????????????????? ???????????????? ????????????????.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="RegistryNumber" type="tns:String255Type">
              <xs:annotation>
                <xs:documentation>???????????????????? ?????????? ???????????????? ????????????????.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="State" type="tns:PlannedExaminationStateType">
              <xs:annotation>
                <xs:documentation>???????????? ???????????????? ????????????????.
???????????????????? ????????????????:
Planned - ????????????????????????
Cancelled - ????????????????
Finished - ??????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="VersionState" type="tns:PlannedExaminationVersionStateType">
              <xs:annotation>
                <xs:documentation>???????????? ???????????? ???????????????? ????????????????.
???????????????????? ????????????????: 
Draft - ????????????
Published - ????????????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="PlannedExaminationInfo">
              <xs:annotation>
                <xs:documentation>???????????????? ????????????????.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:complexContent mixed="false">
                  <xs:extension base="tns:PlannedExaminationType">
                    <xs:sequence>
                      <xs:element minOccurs="0" name="CancelledInfo" type="tns:CancelledInfoType">
                        <xs:annotation>
                          <xs:documentation>???????????????????? ???? ???????????? ????????????????.</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                    </xs:sequence>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="importExaminationsRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ???????????? ????????????????.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element maxOccurs="1000" name="ImportExamination">
              <xs:annotation>
                <xs:documentation>???????????? ????????????????</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:sequence>
                    <xs:element ref="base:TransportGUID" />
                    <xs:element minOccurs="0" name="ExaminationGuid" type="base:GUIDType">
                      <xs:annotation>
                        <xs:documentation>?????????????????????????? ???????????????? ?? ?????? ??????.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                  <xs:element minOccurs="0" fixed="true" name="Publish" type="xs:boolean">
                    <xs:annotation>
                      <xs:documentation>?????????????? ???????????????????? ????????????????</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="Examination" type="tns:ExaminationType">
                    <xs:annotation>
                      <xs:documentation>????????????????. ???? ?????????????????????? ?????? ?????????????? ?????????????????????? ?? ???????????????????? ?? ???????????????????????? ????????????????</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" fixed="true" name="DeleteExamination" type="xs:boolean">
                    <xs:annotation>
                      <xs:documentation>???????????????? ????????????????</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="ImportPrecept">
                    <xs:annotation>
                      <xs:documentation>??????????????????????</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:sequence>
                          <xs:element ref="base:TransportGUID" />
                          <xs:element minOccurs="0" name="PreceptGuid" type="base:GUIDType">
                            <xs:annotation>
                              <xs:documentation>?????????????????????????? ?????????????????????? ?? ?????? ??????</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                        <xs:choice>
                          <xs:element name="Precept" type="tns:PreceptType">
                            <xs:annotation>
                              <xs:documentation>????????????????/?????????????????? ?????????????????????? </xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="CancelPrecept">
                            <xs:annotation>
                              <xs:documentation>???????????? (??????????) ??????????????????????</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="CancelledInfo" type="tns:CancelledInfoWithAttachmentsType">
                                  <xs:annotation>
                                    <xs:documentation>?????????????? ???????????? ??????????????????.</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element fixed="true" name="DeletePrecept" type="xs:boolean">
                            <xs:annotation>
                              <xs:documentation>???????????????? ??????????????????????</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element fixed="true" name="FulfiledPrecept" type="xs:boolean">
                            <xs:annotation>
                              <xs:documentation>???????????????? ?????????????????????? ?????? ??????????????????????</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:choice>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="ImportOffence">
                    <xs:annotation>
                      <xs:documentation>???????????????? </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:sequence>
                          <xs:element ref="base:TransportGUID" />
                          <xs:element minOccurs="0" name="OffenceGuid" type="base:GUIDType">
                            <xs:annotation>
                              <xs:documentation>?????????????????????????? ?????????????????? ?? ?????? ??????</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                        <xs:choice>
                          <xs:element name="Offence" type="tns:OffenceType">
                            <xs:annotation>
                              <xs:documentation>????????????????/?????????????????? ??????????????????</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="CancelOffence">
                            <xs:annotation>
                              <xs:documentation>???????????? ??????????????????</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="CancelledInfo" type="tns:CancelledInfoWithAttachmentsType">
                                  <xs:annotation>
                                    <xs:documentation>?????????????? ???????????? ??????????????????.</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element fixed="true" name="FulfiledOffence" type="xs:boolean">
                            <xs:annotation>
                              <xs:documentation>???????????????? ???????????????? ?????? ??????????????????????</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element fixed="true" name="DeleteOffence" type="xs:boolean">
                            <xs:annotation>
                              <xs:documentation>???????????????? ??????????????????</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:choice>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
    <xs:key name="importExaminationsRequest_TransportGUIDKey">
      <xs:selector xpath=".//base:TransportGUID" />
      <xs:field xpath="." />
    </xs:key>
  </xs:element>
  <xs:element name="exportExaminationsRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ?????????????? ????????????????.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element name="From" type="xs:date">
              <xs:annotation>
                <xs:documentation>???????????? ?????????????? ???????? ???????????? ???????????????????? ???????????????? (????????????????????????).</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="To" type="xs:date">
              <xs:annotation>
                <xs:documentation>?????????? ?????????????? ???????? ???????????? ???????????????????? ???????????????? (????????????????????????).</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="exportExaminationsResult">
    <xs:annotation>
      <xs:documentation>?????????? ???? ???????????? ???? ?????????????? ????????????????.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:choice>
            <xs:element maxOccurs="unbounded" name="exportExaminationResult" type="tns:exportExaminationResultType">
              <xs:annotation>
                <xs:documentation>?????????????????????????? ????????????????.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element ref="base:ErrorMessage" />
          </xs:choice>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="exportExaminationResultType">
    <xs:annotation>
      <xs:documentation>???????????????????????????? ????????????????.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ExaminationGuid" type="base:GUIDType">
        <xs:annotation>
          <xs:documentation>?????????????????????????? ???????????????? ?? ?????? ??????.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="RegistryNumber" type="tns:String255Type">
        <xs:annotation>
          <xs:documentation>???????????????????? ?????????? ????????????????.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExaminationState" type="tns:ExaminationStateType">
        <xs:annotation>
          <xs:documentation>???????????? ????????????????.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ExaminationVersionState" type="tns:ExaminationVersionStateType">
        <xs:annotation>
          <xs:documentation>???????????? ???????????? ????????????????.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Examination" type="tns:ExaminationType">
        <xs:annotation>
          <xs:documentation>????????????????.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExportPrecept">
        <xs:annotation>
          <xs:documentation>??????????????????????.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PreceptGuid" type="base:GUIDType">
              <xs:annotation>
                <xs:documentation>?????????????????????????? ?????????????????????? ?? ?????? ??????.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="PreceptState" type="tns:PreceptStateType">
              <xs:annotation>
                <xs:documentation>???????????? ??????????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Precept" type="tns:PreceptType">
              <xs:annotation>
                <xs:documentation>?????????????????? ??????????????????????.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="CancelledInfo" type="tns:CancelledInfoWithAttachmentsType">
              <xs:annotation>
                <xs:documentation>???????????????? ???? ???????????? ??????????????????????.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExportOffence">
        <xs:annotation>
          <xs:documentation>????????????????.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="OffenceGuid" type="base:GUIDType">
              <xs:annotation>
                <xs:documentation>?????????????????????????? ?????????????????? ?? ?????? ??????.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="OffenceState" type="tns:OffenceStateType">
              <xs:annotation>
                <xs:documentation>???????????? ??????????????????.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Offence" type="tns:OffenceType">
              <xs:annotation>
                <xs:documentation>?????????????????? ??????????????????.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="CancelledInfo" type="tns:CancelledInfoWithAttachmentsType">
              <xs:annotation>
                <xs:documentation>???????????????? ???? ???????????? ??????????????????.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getStateResult">
    <xs:annotation>
      <xs:documentation>?????????????? ?????????????? ?????????????????????????? ??????????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseAsyncResponseType">
          <xs:choice minOccurs="0">
            <xs:element ref="base:ErrorMessage" />
            <xs:element maxOccurs="unbounded" name="CommonResult" type="base:CommonResultType" />
            <xs:element maxOccurs="unbounded" name="exportInspectionPlanResult" type="tns:exportInspectionPlanResultType" />
            <xs:element maxOccurs="unbounded" name="exportExaminationResult" type="tns:exportExaminationResultType" />
          </xs:choice>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CancelledInfoType">
    <xs:annotation>
      <xs:documentation>???????????????? ???? ???????????? ??????????????????.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Reason" type="tns:String2000Type">
        <xs:annotation>
          <xs:documentation>?????????????? ???????????? ??????????????????.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Date" type="xs:date">
        <xs:annotation>
          <xs:documentation>???????? ???????????? ??????????????????.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Number">
        <xs:annotation>
          <xs:documentation>?????????? ?????????????? ???? ????????????.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="tns:String255Type">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CancelledInfoWithAttachmentsType">
    <xs:annotation>
      <xs:documentation>???????????????? ???? ???????????? ?????????????????? ?? ?????????????????????? ???????????????????????????? ????????????????????.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CancelledInfoType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Attachments" type="base:AttachmentType">
            <xs:annotation>
              <xs:documentation>???????????????????????????? ??????????????????. ???????? ???????????????? ????????????????????????, ???????? ???????? IsJudgementDecision=true</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IsJudgementDecision" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>???? ?????????????? ????????</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>