Service References/PaymentAsync/hcs-payment-types-8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://dom.gosuslugi.ru/schema/integration/8.5.0.4/payment/" xmlns:base="http://dom.gosuslugi.ru/schema/integration/8.5.0.4/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://dom.gosuslugi.ru/schema/integration/8.5.0.4/payment/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="hcs-basetypes-8.5.0.4.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/8.5.0.4/" />
  <xs:element name="importNotificationsOfOrderExecutionRequest">
    <xs:annotation>
      <xs:documentation>?????????? ?????????????????? ?? ???????????????? ?? ???????????????????? ???????????????????????? (????_??????????????_??????_??????)</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element maxOccurs="1000" name="NotificationOfOrderExecutionType">
              <xs:complexType>
                <xs:complexContent mixed="false">
                  <xs:extension base="tns:NotificationOfOrderExecutionType">
                    <xs:sequence>
                      <xs:element ref="base:TransportGUID" />
                    </xs:sequence>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
    <xs:key name="importNotificationsOfOrderExecutionRequest_TransportGUIDKey">
      <xs:selector xpath=".//base:TransportGUID" />
      <xs:field xpath="." />
    </xs:key>
    <xs:key name="importNotificationsOfOrderExecutionRequest_OrderIDKey">
      <xs:selector xpath="tns:NotificationOfOrderExecutionType/tns:OrderInfo/tns:OrderID" />
      <xs:field xpath="." />
    </xs:key>
  </xs:element>
  <xs:element name="importNotificationsOfOrderExecutionCancellationRequest">
    <xs:annotation>
      <xs:documentation>?????????? ?????????????????? ???? ?????????????????????????? ?????????????????? ?? ???????????????? ?? ???????????????????????? ?? ???????????????????? (????_??????????????_??????????_??????)</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element maxOccurs="1000" name="NotificationOfOrderExecutionCancellation" type="tns:NotificationOfOrderExecutionCancellationType" />
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
    <xs:key name="importNotificationsOfOrderExecutionCancellationRequest_TransportGUIDKey">
      <xs:selector xpath=".//base:TransportGUID" />
      <xs:field xpath="." />
    </xs:key>
    <xs:key name="importNotificationsOfOrderExecutionCancellationRequest_OrderIDKey">
      <xs:selector xpath="tns:NotificationOfOrderExecutionCancellation/tns:OrderID" />
      <xs:field xpath="." />
    </xs:key>
  </xs:element>
  <xs:element name="exportNotificationsOfOrderExecutionRequest">
    <xs:annotation>
      <xs:documentation>???????????? ?????????????? ?????????????????? ?? ???????????????? ?? ???????????????????? ???????????????????????? (????_??????????????_????????????_??????)</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element maxOccurs="100" name="PaymentDocumentGuid" type="base:GUIDType">
              <xs:annotation>
                <xs:documentation>?????????????????????????? ?????????????????????????? ???????????????????? ??????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="importAcknowledgmentRequest">
    <xs:annotation>
      <xs:documentation>???????????????? ?????????????? ???? ???????????????????? ????????????????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element maxOccurs="1000" name="AcknowledgmentRequestInfo">
              <xs:complexType>
                <xs:complexContent mixed="false">
                  <xs:extension base="tns:AcknowledgmentRequestInfoType">
                    <xs:sequence>
                      <xs:element ref="base:TransportGUID" />
                    </xs:sequence>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
    <xs:key name="importAcknowledgmentRequest_TransportGUIDKey">
      <xs:selector xpath=".//base:TransportGUID" />
      <xs:field xpath="." />
    </xs:key>
  </xs:element>
  <xs:element name="exportNotificationsOfOrderExecutionResult">
    <xs:annotation>
      <xs:documentation>?????????????? ?????????????????? ?? ???????????????? ?? ???????????????????? ???????????????????????? (?????????????????? ???? ????????????) ?? ???????????????????????? ????????????????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:choice>
            <xs:element maxOccurs="unbounded" name="exportNotificationsOfOrderExecutionResult" type="tns:exportNotificationsOfOrderExecutionResultType" />
            <xs:element ref="base:ErrorMessage" />
          </xs:choice>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="exportNotificationsOfOrderExecutionResultType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="NotificationOfOrderExecutionWithStatus">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="tns:NotificationOfOrderExecutionType">
              <xs:sequence>
                <xs:element name="Status">
                  <xs:annotation>
                    <xs:documentation>???????????? ?????????????????? ???????????????????????? </xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="??????????" />
                      <xs:enumeration value="???????????????????????????? ??????????????????????" />
                      <xs:enumeration value="??????????????????????" />
                      <xs:enumeration value="???????????????? ??????????????????????" />
                      <xs:enumeration value="??????????????????????" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
                <xs:element name="CreationDate" type="xs:dateTime">
                  <xs:annotation>
                    <xs:documentation>???????? ???????????????? ?????????????????? ?? ?????????????? </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="AcknowledgmentRequestsList">
                  <xs:annotation>
                    <xs:documentation>???????????? ?????????????????????? ????????????????????????</xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element maxOccurs="unbounded" name="AcknowledgmentRequest">
                        <xs:annotation>
                          <xs:documentation>?????????????????? ????????????????????????</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:complexContent mixed="false">
                            <xs:extension base="tns:AcknowledgmentRequestInfoType" />
                          </xs:complexContent>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="AcknowledgmentAmount" type="base:AmountType">
                  <xs:annotation>
                    <xs:documentation>?????????? ???????????????????????? (?? ????????????????)</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element ref="base:CheckingAccount" />
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="exportPaymentDocumentDetailsRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???????????????? ???????????????????? ?? ???????????????? ?? ?????????????????? ????????????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:choice>
            <xs:element maxOccurs="100" ref="base:PaymentDocumentNumber" />
            <xs:sequence>
              <xs:element ref="base:Year" />
              <xs:element ref="base:Month" />
              <xs:element ref="base:AccountNumber" />
              <xs:element name="FIASHouseGuid" type="base:FIASHouseGUIDType">
                <xs:annotation>
                  <xs:documentation>???????????????????? ???????????????????? ?????????????????????????? ???????? ???? ????????</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:choice>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="exportPaymentDocumentDetailsResult">
    <xs:annotation>
      <xs:documentation>?????????? ???? ???????????? ???????????????? ???????????????????? ?? ???????????????? ?? ?????????????????? ????????????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:choice>
            <xs:element maxOccurs="unbounded" name="PaymentDocument" type="tns:PaymentDocumentDetailsType" />
            <xs:element ref="base:ErrorMessage" />
          </xs:choice>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStateResult">
    <xs:annotation>
      <xs:documentation>?????????????? ?????????????? ?????????????????????????? ??????????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseAsyncResponseType">
          <xs:choice minOccurs="0">
            <xs:element ref="base:ErrorMessage" />
            <xs:element maxOccurs="unbounded" name="ImportResult" type="base:CommonResultType" />
            <xs:element maxOccurs="unbounded" name="exportNotificationsOfOrderExecutionResult" type="tns:exportNotificationsOfOrderExecutionResultType" />
            <xs:element maxOccurs="unbounded" name="exportPaymentDocumentDetailsResult" type="tns:PaymentDocumentDetailsType" />
          </xs:choice>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="NotificationOfOrderExecutionType">
    <xs:annotation>
      <xs:documentation>?????????????????? ?? ???????????????? ?? ???????????????????? ????????????????????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SupplierInfo">
        <xs:annotation>
          <xs:documentation>???????????????? ?? ??????????????????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SupplierID">
              <xs:annotation>
                <xs:documentation>???????????????????? ?????????????????????????? ??????????????????????</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="25" />
                  <xs:minLength value="1" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="SupplierName">
              <xs:annotation>
                <xs:documentation>???????????????????????? ??????????????????????</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="160" />
                  <xs:minLength value="1" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="RecipientInfo">
        <xs:annotation>
          <xs:documentation>???????????????? ?? ???????????????????? ??????????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RecipientINN" type="base:INNType">
              <xs:annotation>
                <xs:documentation>?????? ???????????????????? ??????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="RecipientKPP" type="base:KPPType">
              <xs:annotation>
                <xs:documentation>?????? ???????????????????? ??????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="BankName">
              <xs:annotation>
                <xs:documentation>???????????????????????? ?????????? ???????????????????? ??????????????</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="160" />
                  <xs:minLength value="1" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="RecipientBIK" type="base:BIKType">
              <xs:annotation>
                <xs:documentation>?????? ?????????? ???????????????????? ??????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="CorrespondentBankAccount" type="base:AccountType">
              <xs:annotation>
                <xs:documentation>????????. ???????? ?????????? ????????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="RecipientAccount" type="base:AccountType">
              <xs:annotation>
                <xs:documentation>???????? ????????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="RecipientName">
              <xs:annotation>
                <xs:documentation>???????????????????????? ???????????????????? ??????????????</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="160" />
                  <xs:minLength value="1" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="OrderInfo">
        <xs:annotation>
          <xs:documentation>?????????? ???????????????? ?? ????????????????????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="tns:OrderID" />
            <xs:element name="PaymentDocumentGuid" type="base:GUIDType">
              <xs:annotation>
                <xs:documentation>?????????????????????????? ?????????????????????????? ???????????????????? ??????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" ref="base:AccountNumber" />
            <xs:element name="OrderNum">
              <xs:annotation>
                <xs:documentation>?????????? ????????????????????????</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="9" />
                  <xs:minLength value="1" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="OrderDate" type="xs:date">
              <xs:annotation>
                <xs:documentation>????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Amount" type="base:MoneyPositiveType">
              <xs:annotation>
                <xs:documentation>??????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="PaymentPurpose">
              <xs:annotation>
                <xs:documentation>???????????????????? ??????????????</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="210" />
                  <xs:minLength value="1" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="Comment">
              <xs:annotation>
                <xs:documentation>???????????????????????? ?????????????????????? </xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="210" />
                  <xs:minLength value="1" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NotificationOfOrderExecutionCancellationType">
    <xs:annotation>
      <xs:documentation>?????????????????? ???? ?????????????????????????? ?????????????????? ?? ???????????????? ???????????????????????? ?? ????????????????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="tns:OrderID" />
      <xs:element name="CancellationDate" type="xs:date">
        <xs:annotation>
          <xs:documentation>???????? ??????????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Comment">
        <xs:annotation>
          <xs:documentation>??????????????????????</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="210" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element ref="base:TransportGUID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AcknowledgmentRequestInfoType">
    <xs:annotation>
      <xs:documentation>???????????? ???? ????????????????????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="tns:OrderID">
        <xs:annotation>
          <xs:documentation>???????????????????? ?????????????????????????? ??????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="base:PaymentDocumentNumber" />
      <xs:choice>
        <xs:annotation>
          <xs:documentation>?????? ?????????????????????? ???????????? ???? ???????????????????? ??????????????????</xs:documentation>
        </xs:annotation>
        <xs:element name="HSType" type="base:GUIDType">
          <xs:annotation>
            <xs:documentation>?????? ???? (???????????????????? "?????????????????????????? ?????????? ?????????? (??????????)")</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="MSType" type="base:GUIDType">
          <xs:annotation>
            <xs:documentation>?????? ???? (???????????????????? "?????? ???????????????????????? ????????????")</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="ASType" type="base:GUIDType">
          <xs:annotation>
            <xs:documentation>?????? ???? (???????????????????? "?????? ???????????????????????????? ????????????")</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:element name="Amount">
        <xs:annotation>
          <xs:documentation>?????????? ???????????????????????? (?? ????????????????)</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:minInclusive value="1" />
            <xs:totalDigits value="13" />
            <xs:fractionDigits value="2" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderID">
    <xs:annotation>
      <xs:documentation>???????????????????? ?????????????????????????? ????????????????????????</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:length value="32" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="AccountID">
    <xs:annotation>
      <xs:documentation>???????????????????? ?????????????????????????? ??????????, ?? ???????????? ???????????????? ???????????????? ????????????.
?? ???????????? ???????????????????? ?????????????????????? 0.
</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="25" />
        <xs:minLength value="1" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:complexType name="PaymentDocumentDetailsType">
    <xs:annotation>
      <xs:documentation>?????????????????? ?? ???????????????? ???????????????????? ??????????????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PaymentDocumentGuid" type="base:GUIDType">
        <xs:annotation>
          <xs:documentation>?????????????????????????? ?????????????????????????? ???????????????????? ??????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="base:PaymentDocumentNumber" />
      <xs:element ref="base:AccountNumber" />
      <xs:element name="PaymentInformation" type="base:PaymentInformationType">
        <xs:annotation>
          <xs:documentation>???????????????? ?? ?????????????????? ???????????????????? ??????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice>
        <xs:element fixed="true" name="Expose" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>?????????????????? ???? ????????????</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element fixed="true" name="Withdraw" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>????????????????????</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:element name="Reminder" type="base:MoneyPositiveType">
        <xs:annotation>
          <xs:documentation>?????????????? ?? ???????????? ???? ???????????????????? ??????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>