Service References/BillsAsync/hcs-bills-types-8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://dom.gosuslugi.ru/schema/integration/8.6.0.4/bills/" xmlns:base="http://dom.gosuslugi.ru/schema/integration/8.6.0.4/" xmlns:pm="http://dom.gosuslugi.ru/schema/integration/8.6.0.4/payment/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://dom.gosuslugi.ru/schema/integration/8.6.0.4/bills/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="hcs-basetypes-8.6.0.4.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/8.6.0.4/" />
  <xs:element name="openOrgPaymentPeriodRequest">
    <xs:annotation>
      <xs:documentation>?????????????????? ????????????????: ?? ImportResult/CRUDResult/GUID ???????????????????????? organizationAccountPeriodGuid</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:choice>
              <xs:element name="createFirstPeriod" type="tns:PaymentPeriodType">
                <xs:annotation>
                  <xs:documentation>???????????????? ?????????????? ?????????????????? ?????????????? ??????????????????????</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element fixed="true" name="createNextPeriodUO" type="xs:boolean">
                <xs:annotation>
                  <xs:documentation>?????????????? ?????????????? ?? ?????????????? ?????????????????? ?????????????????? ???????????? ?????? ???????????????????? "????"</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element fixed="true" name="createNextPeriodRSO" type="xs:boolean">
                <xs:annotation>
                  <xs:documentation>?????????????? ?????????????? ?? ?????????????? ?????????????????? ?????????????????? ???????????? ?????? ???????????????????? "??????"</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:choice>
            <xs:element ref="base:TransportGUID" />
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
    <xs:key name="openOrgPaymentPeriodRequest_TransportGUIDKey">
      <xs:selector xpath=".//base:TransportGUID" />
      <xs:field xpath="." />
    </xs:key>
  </xs:element>
  <xs:element name="closeHousePaymentPeriodRequest">
    <xs:annotation>
      <xs:documentation>?????????????? ?????????????????? ???????????? ????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element maxOccurs="1000" name="HousePeriod">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="FIASHouseGuid" type="base:FIASHouseGUIDType">
                    <xs:annotation>
                      <xs:documentation>???????????????????? ???????????????????? ?????????????????????????? ???????? ???? ????????</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:choice>
                    <xs:element fixed="true" name="isUO" type="xs:boolean">
                      <xs:annotation>
                        <xs:documentation>?????????????? ?????? ???????????????????? "????"</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element fixed="true" name="isRSO" type="xs:boolean">
                      <xs:annotation>
                        <xs:documentation>?????????????? ?????? ???????????????????? "????"</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:choice>
                  <xs:element ref="base:TransportGUID" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
    <xs:key name="closeHousePaymentPeriodRequest_TransportGUIDKey">
      <xs:selector xpath=".//base:TransportGUID" />
      <xs:field xpath="." />
    </xs:key>
  </xs:element>
  <xs:element name="exportOrgPeriodRequest">
    <xs:annotation>
      <xs:documentation>???????????????? ???????????? ???????????????? ???????????????????? ?????????????? ??????????????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:choice>
            <xs:element fixed="true" name="isUO" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>?????? ???????????????????? "????"</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element fixed="true" name="isRSO" type="xs:boolean">
              <xs:annotation>
                <xs:documentation> ?????? ???????????????????? "????"</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="exportOrgPeriodResult">
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:choice>
            <xs:element ref="base:ErrorMessage" />
            <xs:element maxOccurs="2" name="OrgPeriod" type="tns:exportOrgPeriodResultType" />
          </xs:choice>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="exportOrgPeriodResultType">
    <xs:annotation>
      <xs:documentation>???????????? ???????????????? ???????????????????? ?????????????? ??????????????????????, ?????????????? ?????????????????? ???????????? ????????</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PaymentPeriodType">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="HousePeriod" type="tns:HousePaymentPeriodType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="importPaymentDocumentRequest">
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element ref="base:Month" />
            <xs:element ref="base:Year" />
            <xs:element maxOccurs="1000" name="PaymentDocument">
              <xs:annotation>
                <xs:documentation>?????????????????? ????????????????</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:complexContent mixed="false">
                  <xs:extension base="tns:PaymentDocumentType">
                    <xs:sequence>
                      <xs:element ref="base:TransportGUID" />
                      <xs:element minOccurs="0" name="PaymentDocumentGuid" type="base:GUIDType">
                        <xs:annotation>
                          <xs:documentation>?????????????????????????? ?????????????????????????? ???????????????????? ??????????????????</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                    </xs:sequence>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
    <xs:key name="importPaymentDocumentRequest_TransportGUIDKey">
      <xs:selector xpath=".//base:TransportGUID" />
      <xs:field xpath="." />
    </xs:key>
  </xs:element>
  <xs:element name="exportPaymentDocumentRequest">
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element ref="base:Month" />
            <xs:element ref="base:Year" />
            <xs:element maxOccurs="1000" ref="base:AccountGuid" />
            <xs:element minOccurs="0" maxOccurs="1000" ref="base:PaymentDocumentNumber" />
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="exportPaymentDocumentResult">
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:choice>
            <xs:element maxOccurs="unbounded" name="PaymentDocument" type="tns:exportPaymentDocumentResultType" />
            <xs:element ref="base:ErrorMessage" />
          </xs:choice>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="exportPaymentDocumentResultType">
    <xs:annotation>
      <xs:documentation>?????????????????? ????????????????</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element ref="base:ErrorMessage" />
      <xs:element name="PaymentDocument">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="tns:PaymentDocumentType">
              <xs:sequence>
                <xs:element name="PaymentDocumentGuid" type="base:GUIDType">
                  <xs:annotation>
                    <xs:documentation>?????????????????????????? ?????????????????????????? ???????????????????? ??????????????????</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element ref="base:PaymentDocumentNumber" />
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:element name="exportNotificationsOfOrderExecutionRequest">
    <xs:annotation>
      <xs:documentation>???????????? ?????????????? ?????????????????? ?? ???????????????? ?? ???????????????????? ???????????????????????? (????_??????????????_????????????_??????)</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element maxOccurs="100" name="PaymentDocumentGuid" type="base:GUIDType">
              <xs:annotation>
                <xs:documentation>?????????????????????????? ?????????????????????????? ???????????????????? ??????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="importAcknowledgmentRequest">
    <xs:annotation>
      <xs:documentation>???????????????? ?????????????? ???? ???????????????????? ????????????????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element maxOccurs="1000" name="AcknowledgmentRequestInfo">
              <xs:complexType>
                <xs:complexContent mixed="false">
                  <xs:extension base="base:AcknowledgmentRequestInfoType">
                    <xs:sequence>
                      <xs:element ref="base:TransportGUID" />
                    </xs:sequence>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
    <xs:key name="importAcknowledgmentRequest_TransportGUIDKey">
      <xs:selector xpath=".//base:TransportGUID" />
      <xs:field xpath="." />
    </xs:key>
  </xs:element>
  <xs:element name="exportNotificationsOfOrderExecutionResult">
    <xs:annotation>
      <xs:documentation>?????????????? ?????????????????? ?? ???????????????? ?? ???????????????????? ???????????????????????? (?????????????????? ???? ????????????) ?? ???????????????????????? ????????????????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:choice>
            <xs:element maxOccurs="unbounded" name="exportNotificationsOfOrderExecutionResult" type="tns:exportNotificationsOfOrderExecutionResultType" />
            <xs:element ref="base:ErrorMessage" />
          </xs:choice>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="exportNotificationsOfOrderExecutionResultType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="NotificationOfOrderExecutionWithStatus">
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="base:NotificationOfOrderExecutionType">
              <xs:sequence>
                <xs:element name="Status">
                  <xs:annotation>
                    <xs:documentation>???????????? ?????????????????? ???????????????????????? </xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="??????????" />
                      <xs:enumeration value="???????????????????????????? ??????????????????????" />
                      <xs:enumeration value="??????????????????????" />
                      <xs:enumeration value="???????????????? ??????????????????????" />
                      <xs:enumeration value="??????????????????????" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
                <xs:element name="CreationDate" type="xs:dateTime">
                  <xs:annotation>
                    <xs:documentation>???????? ???????????????? ?????????????????? ?? ?????????????? </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="AcknowledgmentRequestsList">
                  <xs:annotation>
                    <xs:documentation>???????????? ?????????????????????? ????????????????????????</xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element maxOccurs="unbounded" name="AcknowledgmentRequest" type="base:AcknowledgmentRequestInfoType">
                        <xs:annotation>
                          <xs:documentation>?????????????????? ????????????????????????</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="AcknowledgmentAmount" type="base:AmountType">
                  <xs:annotation>
                    <xs:documentation>?????????? ???????????????????????? (?? ????????????????)</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element ref="base:CheckingAccount" />
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getStateResult">
    <xs:annotation>
      <xs:documentation>?????????????? ?????????????? ?????????????????????????? ??????????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseAsyncResponseType">
          <xs:choice minOccurs="0">
            <xs:element ref="base:ErrorMessage" />
            <xs:element maxOccurs="unbounded" name="ImportResult" type="base:CommonResultType" />
            <xs:element maxOccurs="2" name="exportOrgPeriodResult" type="tns:exportOrgPeriodResultType" />
            <xs:element maxOccurs="unbounded" name="exportPaymentDocResult" type="tns:exportPaymentDocumentResultType" />
            <xs:element maxOccurs="unbounded" name="exportNotificationsOfOrderExecutionResult" type="tns:exportNotificationsOfOrderExecutionResultType" />
          </xs:choice>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="PaymentPeriodType">
    <xs:sequence>
      <xs:element ref="base:Month" />
      <xs:element ref="base:Year" />
      <xs:choice>
        <xs:element fixed="true" name="isUO" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>?????? ???????????????????? "????"</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element fixed="true" name="isRSO" type="xs:boolean">
          <xs:annotation>
            <xs:documentation> ?????? ???????????????????? "????"</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaymentPeriodStatus">
    <xs:annotation>
      <xs:documentation>???????????? ???????????????????? ??????????????. (O)pen - ????????????, (C)losed - ????????????, </xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:length value="1" />
        <xs:enumeration value="O" />
        <xs:enumeration value="C" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:complexType name="HousePaymentPeriodType">
    <xs:annotation>
      <xs:documentation>???????????????????????????? ???????????????????? ?????????????? ????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="base:HouseGuid" />
      <xs:element ref="tns:PaymentPeriodStatus" />
      <xs:element name="OpeningDate" type="xs:date">
        <xs:annotation>
          <xs:documentation>???????? ????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ClosingDate" type="xs:date">
        <xs:annotation>
          <xs:documentation>???????? ????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ServicePDType">
    <xs:annotation>
      <xs:documentation>?????????????????????? ???? ????????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ServiceType" type="base:nsiRef">
        <xs:annotation>
          <xs:documentation>?????? ???????????? (????????????????, ???????????????????????? ?????? ????????????????????????????)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" ref="base:OKEI" />
      <xs:element name="Rate" type="base:SmallMoneyPositiveType">
        <xs:annotation>
          <xs:documentation>??????????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MunicipalServicePDType">
    <xs:annotation>
      <xs:documentation>?????????????????????? ???? ????????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ServiceType" type="base:nsiRef">
        <xs:annotation>
          <xs:documentation>?????? ???????????? (????????????????, ???????????????????????? ?????? ????????????????????????????)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" ref="base:OKEI" />
      <xs:element name="Rate" type="base:SmallMoneyPositiveType">
        <xs:annotation>
          <xs:documentation>??????????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ServiceChargeType">
    <xs:annotation>
      <xs:documentation>???????????????????? ???? ????????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="MoneyRecalculation" type="base:MoneyType">
        <xs:annotation>
          <xs:documentation>??????????????????????, ?????????????????????????? (??????)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="MoneyDiscount" type="base:MoneyPositiveType">
        <xs:annotation>
          <xs:documentation>????????????, ????????????????, ???????????? (??????)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceCharge" type="tns:ServiceChargeType" />
  <xs:element name="ServiceInformation">
    <xs:annotation>
      <xs:documentation>???????????????? ?????????????????????? ???????????????????????? ????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="tns:ServiceInformationType">
          <xs:sequence>
            <xs:element minOccurs="0" name="houseOverallNeedsNorm" type="base:VolumeType">
              <xs:annotation>
                <xs:documentation>???????????????? ?????????????????????? ???????????????????????? ?????????? - ?????????????????????? ??????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="individualConsumptionNorm" type="base:VolumeType">
              <xs:annotation>
                <xs:documentation>???????????????? ?????????????????????? ???????????????????????? ?????????? - ?????????????????????????? ??????????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="PiecemealPayment">
    <xs:annotation>
      <xs:documentation>??????????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paymentPeriodPiecemealPaymentSum">
          <xs:annotation>
            <xs:documentation>?????????? ?????????? ?? ???????????? ?????????????????? ?????????????? - ???? ?????????? ???? ???????????????? ????????????, ??????</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:fractionDigits value="2" />
              <xs:minInclusive value="0" />
              <xs:maxInclusive value="9999999999.99" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="0" name="pastPaymentPeriodPiecemealPaymentSum">
          <xs:annotation>
            <xs:documentation>?????????? ?????????? ?? ???????????? ?????????????????? ?????????????? - ???? ?????????? ???? ???????????????????? ?????????????????? ??????????????</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:fractionDigits value="2" />
              <xs:minInclusive value="0" />
              <xs:maxInclusive value="9999999999.99" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element minOccurs="1" name="piecemealPaymentPercentRub">
          <xs:annotation>
            <xs:documentation>???????????????? ???? ??????????????????, ??????.</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:fractionDigits value="2" />
              <xs:minInclusive value="0" />
              <xs:maxInclusive value="9999999999.99" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="piecemealPaymentPercent">
          <xs:annotation>
            <xs:documentation>???????????????? ???? ??????????????????, %</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:minInclusive value="0" />
              <xs:maxInclusive value="100" />
              <xs:fractionDigits value="2" />
              <xs:totalDigits value="5" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="piecemealPaymentSum">
          <xs:annotation>
            <xs:documentation>?????????? ?? ???????????? ?? ???????????? ?????????????????? ?????????????? ?? ?????????????????? ???? ??????????????????</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:fractionDigits value="2" />
              <xs:minInclusive value="0" />
              <xs:maxInclusive value="9999999999.99" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaymentRecalculation">
    <xs:annotation>
      <xs:documentation>??????????????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="recalculationReason">
          <xs:annotation>
            <xs:documentation>?????????????????? ????????????????????????</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="sum">
          <xs:annotation>
            <xs:documentation>??????????</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:fractionDigits value="2" />
              <xs:minInclusive value="0" />
              <xs:maxInclusive value="9999999999.99" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ServiceInformationType">
    <xs:annotation>
      <xs:documentation>???????????????????? ???????????????????? ???????????????????? ?????????????????? ???? ???????????????????????? ??????????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="individualConsumptionCurrentValue" type="base:VolumeType">
        <xs:annotation>
          <xs:documentation>?????????????? ?????????????????? ???????????????? ?????????? ???????????????????????? ?????????? - ?????????????????????????? ??????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="houseOverallNeedsCurrentValue" type="base:VolumeType">
        <xs:annotation>
          <xs:documentation>?????????????? ?????????????????? ???????????????? ?????????? ???????????????????????? ?????????? - ?????????????????????? ??????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="houseTotalIndividualConsumption" type="base:VolumeType">
        <xs:annotation>
          <xs:documentation>?????????????????? ?????????? ???????????????????????? ?????????? ?? ???????? - ?????????????????????????? ??????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="houseTotalHouseOverallNeeds" type="base:VolumeType">
        <xs:annotation>
          <xs:documentation>?????????????????? ?????????? ???????????????????????? ?????????? ?? ???????? - ?????????????????????? ??????????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PDServiceChargeType">
    <xs:annotation>
      <xs:documentation>?????????????????????? ?? ???????????????????? ???? ????????????  ?? ????</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="HousingService">
        <xs:annotation>
          <xs:documentation>???????????????? ????????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="tns:ServicePDType">
              <xs:sequence>
                <xs:element ref="tns:ServiceCharge" />
                <xs:element minOccurs="0" name="Consumption">
                  <xs:annotation>
                    <xs:documentation>?????????? ?????????? - ?????????????????????????? ?????????????????????? ??(??????) ?????????????????????? ??????????</xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="Volume">
                        <xs:annotation>
                          <xs:documentation>?????????? ????????????</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:simpleContent>
                            <xs:extension base="base:VolumeType">
                              <xs:attribute name="type">
                                <xs:annotation>
                                  <xs:documentation>?????? ???????????????????????????? ????????????:
(I)ndividualConsumption - ?????????????????????????? ??????????????????????</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:enumeration value="I" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                            </xs:extension>
                          </xs:simpleContent>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="AdditionalService">
        <xs:annotation>
          <xs:documentation>?????? ???????????????????????????? ????????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="tns:ServicePDType">
              <xs:sequence>
                <xs:element ref="tns:ServiceCharge" />
                <xs:element minOccurs="0" name="Consumption">
                  <xs:annotation>
                    <xs:documentation>?????????? ?????????? - ?????????????????????????? ?????????????????????? ??(??????) ?????????????????????? ??????????</xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element maxOccurs="2" name="Volume">
                        <xs:annotation>
                          <xs:documentation>?????????? ????????????</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:simpleContent>
                            <xs:extension base="base:VolumeType">
                              <xs:attribute name="type">
                                <xs:annotation>
                                  <xs:documentation>?????? ???????????????????????????? ????????????:
(I)ndividualConsumption - ?????????????????????????? ??????????????????????
house(O)verallNeeds - ?????????????????????? ??????????</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:enumeration value="I" />
                                    <xs:enumeration value="O" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                            </xs:extension>
                          </xs:simpleContent>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                  <xs:unique name="consumptionASTypeUnique">
                    <xs:selector xpath="*" />
                    <xs:field xpath="@type" />
                  </xs:unique>
                </xs:element>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" name="AdditionalServiceExt">
        <xs:annotation>
          <xs:documentation>?????? ???????????????????????????? ????????????, ???????????? ?????????????????????? ???? ???????????????????????????? ??????????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="tns:ServiceChargeType">
              <xs:sequence>
                <xs:element name="ServiceType" type="base:nsiRef">
                  <xs:annotation>
                    <xs:documentation>?????? ???????? ???????????????????????????? ????????????</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" name="TechService">
                  <xs:annotation>
                    <xs:documentation>???????????????????????????? ????????????</xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:complexContent mixed="false">
                      <xs:extension base="tns:ServicePDType">
                        <xs:sequence>
                          <xs:element minOccurs="0" name="Consumption">
                            <xs:annotation>
                              <xs:documentation>?????????? ?????????? - ?????????????????????????? ?????????????????????? ??(??????) ?????????????????????? ??????????</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="2" name="Volume">
                                  <xs:annotation>
                                    <xs:documentation>?????????? ????????????</xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="base:VolumeType">
                                        <xs:attribute name="type">
                                          <xs:annotation>
                                            <xs:documentation>?????? ???????????????????????????? ????????????:
(I)ndividualConsumption - ?????????????????????????? ??????????????????????
house(O)verallNeeds - ?????????????????????? ??????????</xs:documentation>
                                          </xs:annotation>
                                          <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                              <xs:enumeration value="I" />
                                              <xs:enumeration value="O" />
                                            </xs:restriction>
                                          </xs:simpleType>
                                        </xs:attribute>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                            <xs:unique name="consumptionASETypeUnique">
                              <xs:selector xpath="*" />
                              <xs:field xpath="@type" />
                            </xs:unique>
                          </xs:element>
                        </xs:sequence>
                      </xs:extension>
                    </xs:complexContent>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="MunicipalService">
        <xs:annotation>
          <xs:documentation>?????????????? ???????????????????????? ???????????? ?? ?????????????? ??????????????????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="tns:ServicePDType">
              <xs:sequence>
                <xs:element ref="tns:ServiceCharge">
                  <xs:annotation>
                    <xs:documentation>?????????????????????? ?? ????????????????</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" ref="tns:PiecemealPayment">
                  <xs:annotation>
                    <xs:documentation>??????????????????</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="PaymentRecalculation">
                  <xs:annotation>
                    <xs:documentation>??????????????????????</xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="recalculationReason" type="xs:string">
                        <xs:annotation>
                          <xs:documentation>?????????????????? ????????????????????????</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="sum">
                        <xs:annotation>
                          <xs:documentation>??????????</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="xs:decimal">
                            <xs:fractionDigits value="2" />
                            <xs:minInclusive value="0" />
                            <xs:maxInclusive value="9999999999.99" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" ref="tns:ServiceInformation" />
                <xs:element minOccurs="0" name="Consumption">
                  <xs:annotation>
                    <xs:documentation>?????????? ?????????? - ?????????????????????????? ?????????????????????? ??(??????) ?????????????????????? ??????????</xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element maxOccurs="2" name="Volume">
                        <xs:annotation>
                          <xs:documentation>?????????? ????????????</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:simpleContent>
                            <xs:extension base="base:VolumeType">
                              <xs:attribute name="type">
                                <xs:annotation>
                                  <xs:documentation>?????? ???????????????????????????? ????????????:
(I)ndividualConsumption - ?????????????????????????? ??????????????????????
house(O)verallNeeds - ?????????????????????? ??????????</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:enumeration value="I" />
                                    <xs:enumeration value="O" />
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                            </xs:extension>
                          </xs:simpleContent>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                  <xs:unique name="consumptionMSTypeUnique">
                    <xs:selector xpath="*" />
                    <xs:field xpath="@type" />
                  </xs:unique>
                </xs:element>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="PaymentDocumentType">
    <xs:annotation>
      <xs:documentation>?????????????????? ???????????????? (????)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="base:AccountGuid" />
      <xs:element name="PaymentInformation" type="base:PaymentInformationType">
        <xs:annotation>
          <xs:documentation>???????????????? ?? ?????????????????? ???????????????????? ??????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" name="AddressInfo">
        <xs:annotation>
          <xs:documentation>???????????????? ????????????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="LivingPersonsNumber">
              <xs:annotation>
                <xs:documentation>???????????????????? ??????????????????????</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:byte">
                  <xs:maxInclusive value="99" />
                  <xs:minInclusive value="0" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="ResidentialSquare" type="base:PremisesAreaType">
              <xs:annotation>
                <xs:documentation>?????????? ?????????????? </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="HeatedArea" type="base:PremisesAreaType">
              <xs:annotation>
                <xs:documentation>???????????????????????? ?????????????? </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="TotalSquare" type="base:PremisesAreaType">
              <xs:annotation>
                <xs:documentation>?????????? ?????????????? ?????? ????</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element maxOccurs="unbounded" name="ChargeInfo">
        <xs:annotation>
          <xs:documentation>???????????????????? ???? ????????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="tns:PDServiceChargeType" />
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:choice>
        <xs:element fixed="true" name="Expose" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>?????????????????? ???? ????????????</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element fixed="true" name="Withdraw" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>????????????????????</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:element minOccurs="0" name="DebtPreviousPeriods">
        <xs:annotation>
          <xs:documentation>?????????????????????????? ???? ???????????????????? ??????????????, ??????.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:minInclusive value="-99999999.99" />
            <xs:maxInclusive value="99999999.99" />
            <xs:fractionDigits value="2" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="AdvanceBllingPeriod">
        <xs:annotation>
          <xs:documentation>?????????? ???? ???????????? ???????????????????? ??????????????, ??????.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:minInclusive value="-99999999.99" />
            <xs:maxInclusive value="99999999.99" />
            <xs:fractionDigits value="2" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="totalPiecemealPaymentSum">
        <xs:annotation>
          <xs:documentation>?????????? ?? ???????????? ?? ???????????? ?????????????????? ?????????????? ?? ?????????????????? ???? ??????????????????, ??????.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="9999999999.99" />
            <xs:fractionDigits value="2" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>