Service References/OrgRegistryCommonAsync/hcs-organizations-registry-common-types-8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://dom.gosuslugi.ru/schema/integration/8.6.0.6/organizations-registry-common/" xmlns:base="http://dom.gosuslugi.ru/schema/integration/8.6.0.6/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://dom.gosuslugi.ru/schema/integration/8.6.0.6/organizations-registry-common/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="hcs-basetypes-8.6.0.6.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/8.6.0.6/" />
  <xs:element name="exportOrgRegistryRequest">
    <xs:annotation>
      <xs:documentation>?????????????? ???????????????? ???? ?????????????? ??????????????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element maxOccurs="100" name="SearchCriteria">
              <xs:annotation>
                <xs:documentation>???????????????? ???????????? ??????????????????????.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:choice>
                    <xs:choice>
                      <xs:annotation>
                        <xs:documentation>?????????? ???? ????????????????????.</xs:documentation>
                      </xs:annotation>
                      <xs:element ref="base:OGRNIP" />
                      <xs:sequence>
                        <xs:element ref="base:OGRN" />
                        <xs:element minOccurs="0" ref="base:KPP" />
                      </xs:sequence>
                    </xs:choice>
                    <xs:element ref="base:orgVersionGUID" />
                    <xs:element ref="base:orgRootEntityGUID" />
                  </xs:choice>
                  <xs:element minOccurs="0" fixed="true" name="isRegistered" type="xs:boolean">
                    <xs:annotation>
                      <xs:documentation>?????????? ?????????? ??????????????????????, ?????????????? ???????????? ??????????????</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="lastEditingDateFrom" type="xs:date">
              <xs:annotation>
                <xs:documentation>?????????? ???????????????????? ?????????????????? (????)</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="exportOrgRegistryResult">
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:choice>
            <xs:element ref="base:ErrorMessage" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="OrgData" type="tns:exportOrgRegistryResultType">
              <xs:annotation>
                <xs:documentation>?????????????????? ??????????????????????.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="exportOrgRegistryResultType">
    <xs:sequence>
      <xs:element ref="base:orgRootEntityGUID" />
      <xs:element name="OrgVersion">
        <xs:annotation>
          <xs:documentation>???????????? ?????????????????????? ?? ?????????????? ??????????????????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="base:orgVersionGUID" />
            <xs:element name="lastEditingDate" type="xs:date">
              <xs:annotation>
                <xs:documentation>?????????? ???????????????????? ??????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="IsActual" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>?????????????? ???????????????????????? ????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:choice>
              <xs:element name="Legal" type="base:LegalType">
                <xs:annotation>
                  <xs:documentation>?????????????????????? ????????</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Subsidiary">
                <xs:annotation>
                  <xs:documentation>???????????????????????? ??????????????????????????</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:complexContent mixed="false">
                    <xs:extension base="base:SubsidiaryType">
                      <xs:sequence>
                        <xs:element name="StatusVersion">
                          <xs:annotation>
                            <xs:documentation>???????????? ???????????? </xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string" />
                          </xs:simpleType>
                        </xs:element>
                        <xs:element name="ParentOrg">
                          <xs:annotation>
                            <xs:documentation>???????????????????? ?? ???????????????? ??????????????????????</xs:documentation>
                          </xs:annotation>
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element ref="base:RegOrgVersion" />
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:extension>
                  </xs:complexContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="Entrp" type="base:EntpsType">
                <xs:annotation>
                  <xs:documentation>???????????????????????????? ??????????????????????????????</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:choice>
            <xs:element minOccurs="0" name="registryOrganizationStatus">
              <xs:annotation>
                <xs:documentation>????????????:
(P)UBLISHED - ???????????????????????? ?? ?????????? ???? ???????????????????? ?? ???????????? ??????????????????</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="P" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="organizationRoles" type="base:nsiRef">
        <xs:annotation>
          <xs:documentation>???????????????????? ?????????????????????? (?????? ???20)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" fixed="true" name="isRegistered" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>???????????????????????????????? ?? ?????? ??????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="importDataProviderRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???????????????? ?? ?????????????????????? ???????????????????? ????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element maxOccurs="100" name="DataProvider">
              <xs:annotation>
                <xs:documentation>?????????????????? ????????????</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="base:TransportGUID" />
                  <xs:choice>
                    <xs:element name="AllocateSenderID">
                      <xs:annotation>
                        <xs:documentation>?????????????? ?????????? ?? ?????????????????????? ????????????</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element ref="base:RegOrg" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="RemoveSenderID">
                      <xs:annotation>
                        <xs:documentation>?????????????? ?????????? ?? ?????????????????????? ????????????</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="SenderID" type="base:GUIDType">
                            <xs:annotation>
                              <xs:documentation>?????????????????????????? ???????????????????? ????????????</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:choice>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
    <xs:key name="importDataProviderRequest_TransportGUIDKey">
      <xs:selector xpath=".//base:TransportGUID" />
      <xs:field xpath="." />
    </xs:key>
  </xs:element>
  <xs:element name="exportDataProviderRequest">
    <xs:annotation>
      <xs:documentation>?? ???????????????? ???????????????????? ?????????????????? ???????????????????????? ?????????????????????????? ???? ???? RequestHeader</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element minOccurs="0" fixed="true" name="IsActual" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>?????????????????? ???????????? ???????????????? ?????????????????????? ????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="exportDataProviderResult">
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:choice>
            <xs:element ref="base:ErrorMessage" />
            <xs:element maxOccurs="unbounded" name="exportDataProviderResult" type="tns:exportDataProviderResultType" />
          </xs:choice>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="exportDataProviderResultType">
    <xs:sequence>
      <xs:element name="DataProviderGUID" type="base:GUIDType">
        <xs:annotation>
          <xs:documentation>?????????????????????????? ???????????????????? ????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsActual" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>???????????? ??????????: 1 - ??????????????, 0- ????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="base:RegOrg" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getStateResult">
    <xs:annotation>
      <xs:documentation>?????????????? ?????????????? ?????????????????????????? ??????????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseAsyncResponseType">
          <xs:choice minOccurs="0">
            <xs:element ref="base:ErrorMessage" />
            <xs:element maxOccurs="unbounded" name="ImportResult" type="base:CommonResultType" />
            <xs:element maxOccurs="unbounded" name="exportOrgRegistryResult" type="tns:exportOrgRegistryResultType" />
            <xs:element maxOccurs="unbounded" name="exportDataProviderResult" type="tns:exportDataProviderResultType" />
          </xs:choice>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
</xs:schema>