Service References/NsiAsync/hcs-nsi-types-8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:tns="http://dom.gosuslugi.ru/schema/integration/8.6.0.6/nsi/" xmlns:base="http://dom.gosuslugi.ru/schema/integration/8.6.0.6/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://dom.gosuslugi.ru/schema/integration/8.6.0.6/nsi/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="hcs-basetypes-8.6.0.6.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/8.6.0.6/" />
  <xs:element name="exportNsiItemResult">
    <xs:annotation>
      <xs:documentation>?????????????? ???????????? ??????????????????????.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>?????????????????? ??????. ???????????? ??????????????????????.</xs:documentation>
      </xs:annotation>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:choice>
            <xs:element name="NsiItem" type="base:NsiItemType">
              <xs:annotation>
                <xs:documentation>???????????? ??????????????????????.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element ref="base:ErrorMessage" />
          </xs:choice>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="importAdditionalServicesRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ???????????? ???????????? ?????????????????????? 1 "???????????????????????????? ????????????".</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1000" name="ImportAdditionalServiceType">
              <xs:annotation>
                <xs:documentation>????????????????/?????????????????? ???????? ???????????????????????????? ????????????.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:sequence>
                    <xs:element ref="base:TransportGUID" />
                    <xs:element minOccurs="0" name="ElementGuid" type="base:GUIDType">
                      <xs:annotation>
                        <xs:documentation>?????????????????????????? ?????????????????????????? ???????????????? ??????????????????????</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                  <xs:element name="AdditionalServiceTypeName" type="base:String100Type">
                    <xs:annotation>
                      <xs:documentation>???????????????????????? ???????? ???????????????????????????? ????????????.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:choice>
                    <xs:element ref="base:OKEI">
                      <xs:annotation>
                        <xs:documentation>?????????????? ?????????????????? ???? ?????????????????????? ????????.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="StringDimensionUnit" type="base:String100Type">
                      <xs:annotation>
                        <xs:documentation>???????????? ?????????????? ??????????????????.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:choice>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1000" name="RecoverAdditionalServiceType">
              <xs:annotation>
                <xs:documentation>???????????????????????????? ???????? ???????????????????????????? ????????????.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="base:TransportGUID" />
                  <xs:element name="ElementGuid" type="base:GUIDType">
                    <xs:annotation>
                      <xs:documentation>?????????????????????????? ?????????? ??????????????????????????????  ???????????????? ??????????????????????.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1000" name="DeleteAdditionalServiceType">
              <xs:annotation>
                <xs:documentation>???????????????? ???????? ???????????????????????????? ????????????.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="base:TransportGUID" />
                  <xs:element name="ElementGuid" type="base:GUIDType">
                    <xs:annotation>
                      <xs:documentation>?????????????????????????? ?????????????????????????? ???????????????? ??????????????????????.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
    <xs:key name="importAdditionalServicesRequest_TransportGUIDKey">
      <xs:selector xpath=".//base:TransportGUID" />
      <xs:field xpath="." />
    </xs:key>
  </xs:element>
  <xs:element name="importMunicipalServicesRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ???????????? ???????????? ?????????????????????? 51 "???????????????????????? ????????????".</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1000" name="ImportMainMunicipalService">
              <xs:annotation>
                <xs:documentation>?????????????? 2. ????????????????/?????????????????? ?????????????? ???????????????????????? ????????????.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:sequence>
                    <xs:element ref="base:TransportGUID" />
                    <xs:element minOccurs="0" name="ElementGuid" type="base:GUIDType">
                      <xs:annotation>
                        <xs:documentation>?????????????????????????? ?????????????????????????? ???????????????? ??????????????????????.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                  <xs:element name="MunicipalServiceRef" type="base:nsiRef">
                    <xs:annotation>
                      <xs:documentation>???????????? ???? ?????? "?????? ???????????????????????? ????????????" (???????????????????? ?????????? 3).</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" fixed="true" name="GeneralNeeds" type="xs:boolean">
                    <xs:annotation>
                      <xs:documentation>?????????????? "???????????? ?????????????????????????????? ???? ?????????????????????? ??????????"</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="MainMunicipalServiceName" type="base:String100Type">
                    <xs:annotation>
                      <xs:documentation>???????????????????????? ?????????????? ???????????????????????? ????????????.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="MunicipalResourceRef" type="base:nsiRef">
                    <xs:annotation>
                      <xs:documentation>???????????? ???? ?????? "?????? ?????????????????????????? ??????????????" (???????????????????? ?????????? 2)</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:choice>
                    <xs:element name="SortOrder">
                      <xs:annotation>
                        <xs:documentation>?????????????? ????????????????????.</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="3" />
                          <xs:minLength value="1" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element fixed="true" name="SortOrderNotDefined" type="xs:boolean">
                      <xs:annotation>
                        <xs:documentation>?????????????? ???????????????????? ???? ??????????</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:choice>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1000" name="RecoverMainMunicipalService">
              <xs:annotation>
                <xs:documentation>?????????????? 2. ???????????????????????????? ?????????????? ???????????????????????? ???????????? (??????????).</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="base:TransportGUID" />
                  <xs:element name="ElementGuid" type="base:GUIDType">
                    <xs:annotation>
                      <xs:documentation>?????????????????????????? ?????????? ??????????????????????????????  ???????????????? ??????????????????????.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" fixed="true" name="HierarchyRecover" type="xs:boolean">
                    <xs:annotation>
                      <xs:documentation>?????????????? ???????????????????????????? ???????? ???????????????? ??????????????????.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1000" name="DeleteMainMunicipalService">
              <xs:annotation>
                <xs:documentation>?????????????? 2. ???????????????? ?????????????? ???????????????????????? ???????????? (??????????).</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="base:TransportGUID" />
                  <xs:element name="ElementGuid" type="base:GUIDType">
                    <xs:annotation>
                      <xs:documentation>?????????????????????????? ?????????????????????????? ???????????????? ??????????????????????.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
    <xs:key name="importMunicipalServicesRequest_TransportGUIDKey">
      <xs:selector xpath=".//base:TransportGUID" />
      <xs:field xpath="." />
    </xs:key>
  </xs:element>
  <xs:element name="importOrganizationWorksRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ???????????? ???????????? ?????????????????????? 59 "???????????? ?? ???????????? ??????????????????????".</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1000" name="ImportOrganizationWork" type="tns:ImportOrganizationWorkType">
              <xs:annotation>
                <xs:documentation>????????????????/?????????????????? ???????????????? ?????????????????????? ?????????? ?? ??????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1000" name="RecoverOrganizationWork">
              <xs:annotation>
                <xs:documentation>???????????????????????????? ?????????????? (??????????) ?????????????????????? ?????????? ?? ?????????? ??????????????????????.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="base:TransportGUID" />
                  <xs:element name="ElementGuid" type="base:GUIDType">
                    <xs:annotation>
                      <xs:documentation>?????????????????????????? ?????????? ??????????????????????????????  ???????????????? ??????????????????????.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" fixed="true" name="HierarchyRecover" type="xs:boolean">
                    <xs:annotation>
                      <xs:documentation>?????????????? ???????????????????????????? ???????? ???????????????? ??????????????????.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1000" name="DeleteOrganizationWork">
              <xs:annotation>
                <xs:documentation>???????????????? ???????????????? (??????????) ?????????????????????? ?????????? ?? ?????????? ??????????????????????.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="base:TransportGUID" />
                  <xs:element name="ElementGuid" type="base:GUIDType">
                    <xs:annotation>
                      <xs:documentation>?????????????????????????? ?????????????????????????? ???????????????? ??????????????????????.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
    <xs:key name="importOrganizationWorksRequest_TransportGUIDKey">
      <xs:selector xpath=".//base:TransportGUID" />
      <xs:field xpath="." />
    </xs:key>
  </xs:element>
  <xs:complexType name="ImportOrganizationWorkType">
    <xs:annotation>
      <xs:documentation>?????????????? ?????????????????????? ?????????? ?? ?????????? ??????????????????????.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:sequence>
        <xs:element ref="base:TransportGUID" />
        <xs:element minOccurs="0" name="ElementGuid" type="base:GUIDType">
          <xs:annotation>
            <xs:documentation>?????????????????????????? ?????????????????????????? ???????????????? ??????????????????????.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
      <xs:element name="WorkName" type="base:String500Type">
        <xs:annotation>
          <xs:documentation>???????????????? ????????????/????????????.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ServiceTypeRef" type="base:nsiRef">
        <xs:annotation>
          <xs:documentation>???????????? ???? ?????? "?????? ??????????" (???????????????????? ?????????? 56).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" name="RequiredServiceRef" type="base:nsiRef">
        <xs:annotation>
          <xs:documentation>???????????? ???? ?????? "???????????????????????? ????????????, ???????????????????????????? ???????????????????? ???????????????????? ??????" (???????????????????? ?????????? 67).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice>
        <xs:element ref="base:OKEI">
          <xs:annotation>
            <xs:documentation>???????????????? ?????????????????? ???? ?????????????????????? ????????.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="StringDimensionUnit" type="base:String100Type">
          <xs:annotation>
            <xs:documentation>???????????? ?????????????? ??????????????????.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:element minOccurs="0" maxOccurs="1000" name="ImportOrganizationWork" type="tns:ImportOrganizationWorkType">
        <xs:annotation>
          <xs:documentation>????????????????  ??????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="exportDataProviderNsiItemRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ?????????????????? ???????????? ?????????????????????? ????????????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element name="RegistryNumber">
              <xs:annotation>
                <xs:documentation>???????????????????? ?????????? ??????????????????????.</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="base:NsiItemRegistryNumberType">
                  <xs:enumeration value="1" />
                  <xs:enumeration value="51" />
                  <xs:enumeration value="59" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" name="ModifiedAfter" type="xs:dateTime">
              <xs:annotation>
                <xs:documentation>???????? ?? ??????????, ???????????????????? ?????????? ?????????????? ???????????????? ?????????????????????? ???????????? ???????? ???????????????????? ?? ????????????. ???????? ???? ??????????????, ???????????????????????? ?????? ???????????????? ??????????????????????.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStateResult">
    <xs:annotation>
      <xs:documentation>?????????????? ?????????????? ?????????????????????????? ??????????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseAsyncResponseType">
          <xs:choice minOccurs="0">
            <xs:element ref="base:ErrorMessage" />
            <xs:element maxOccurs="unbounded" name="ImportResult" type="base:CommonResultType" />
            <xs:element name="NsiItem" type="base:NsiItemType" />
            <xs:element name="NsiList" type="base:NsiListType" />
          </xs:choice>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
</xs:schema>