Service References/Services/hcs-services-types-71.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://dom.gosuslugi.ru/schema/integration/7.3.0.1/services/" xmlns:base="http://dom.gosuslugi.ru/schema/integration/7.3.0.1/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://dom.gosuslugi.ru/schema/integration/7.3.0.1/services/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="hcs-basetypes-7.3.0.1.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/7.3.0.1/" />
  <xs:element name="importMSRSORequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ???? ???????????? ?????????????????? ?? ??????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element name="FIASHouseGuid" type="base:GUIDType">
              <xs:annotation>
                <xs:documentation>???????????????????? ???????????????????? ?????????????????????????? ???????? ???? ????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1000" name="MSRSO">
              <xs:annotation>
                <xs:documentation>????</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:complexContent mixed="false">
                  <xs:extension base="base:MunicipalServiceType">
                    <xs:sequence>
                      <xs:element ref="base:TransportGUID" />
                      <xs:element minOccurs="0" name="MSGUID" type="base:GUIDType">
                        <xs:annotation>
                          <xs:documentation>?????????????????????????? ????</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                    </xs:sequence>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
    <xs:key name="importMSRSORequest_TransportGUIDKey">
      <xs:selector xpath=".//base:TransportGUID" />
      <xs:field xpath="." />
    </xs:key>
  </xs:element>
  <xs:element name="exportMSRSORequest">
    <xs:annotation>
      <xs:documentation>?????????????? ???? ???? ???????????? ?????????????????? ?? ??????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element name="FIASHouseGuid" type="base:GUIDType">
              <xs:annotation>
                <xs:documentation>???????????????????? ???????????????????? ?????????????????????????? ???????? ???? ????????</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="exportMSRSOResult">
    <xs:annotation>
      <xs:documentation>???????????? ???????????????? ???? ???? ???????????? ?????????????????? ?? ??????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:choice>
            <xs:element maxOccurs="unbounded" name="exportMSRSO" type="tns:exportMSRSOResultType" />
            <xs:element ref="base:ErrorMessage" />
          </xs:choice>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="exportMSRSOResultType">
    <xs:complexContent mixed="false">
      <xs:extension base="base:MunicipalServiceType">
        <xs:sequence>
          <xs:element name="MSGUID" type="base:GUIDType">
            <xs:annotation>
              <xs:documentation>?????????????????????????? ????</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="UpdateDate" type="xs:dateTime">
            <xs:annotation>
              <xs:documentation>???????? ??????????????????????</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="importWorkingListRequest">
    <xs:annotation>
      <xs:documentation>???????????? ?????????????? ?????????? ?? ?????????? ???? ????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:choice>
            <xs:element name="ApprovedWorkingListData">
              <xs:annotation>
                <xs:documentation>???????????????? ??????????????????</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:complexContent mixed="false">
                  <xs:extension base="tns:WorkingListBaseType">
                    <xs:sequence>
                      <xs:element ref="base:TransportGUID" />
                      <xs:element maxOccurs="unbounded" name="WorkListItem">
                        <xs:annotation>
                          <xs:documentation>????????????/???????????? ?????????????? </xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:complexContent mixed="false">
                            <xs:extension base="tns:WorkingListItemType">
                              <xs:sequence>
                                <xs:element ref="base:TransportGUID" />
                              </xs:sequence>
                            </xs:extension>
                          </xs:complexContent>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
              <xs:unique name="WorkItemNSI_Unique">
                <xs:selector xpath="tns:WorkListItem/tns:WorkItemNSI/base:GUID" />
                <xs:field xpath="." />
              </xs:unique>
            </xs:element>
            <xs:element name="CancelWorkingList">
              <xs:annotation>
                <xs:documentation>?????????????????????????? ?????????????????????? ??????????????</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="base:TransportGUID" />
                  <xs:element name="WorkListGUID" type="base:GUIDType">
                    <xs:annotation>
                      <xs:documentation>?????????????????????????? ??????????????</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
    <xs:key name="WorkListItemIndexKey">
      <xs:selector xpath="./tns:ApprovedWorkingListData/tns:WorkListItem" />
      <xs:field xpath="tns:Index" />
    </xs:key>
    <xs:key name="importWorkingListRequest_TransportGUIDKey">
      <xs:selector xpath=".//base:TransportGUID" />
      <xs:field xpath="." />
    </xs:key>
  </xs:element>
  <xs:element name="exportWorkingListRequest">
    <xs:annotation>
      <xs:documentation>?????????????? ?????????????????????????? ???????????????????????? ?????????????????? ?? ???????????????? ?????????? ?? ?????????? ???????????????????? ????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:choice>
            <xs:sequence>
              <xs:element name="MonthYearFrom">
                <xs:annotation>
                  <xs:documentation>???????????? "??"</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="base:Month" />
                    <xs:element ref="base:Year" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="MonthYearTo">
                <xs:annotation>
                  <xs:documentation>???????????? "??"</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="base:Month" />
                    <xs:element ref="base:Year" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" ref="tns:WorkListStatus" />
              <xs:element name="FIASHouseGuid" type="base:FIASHouseGUIDType">
                <xs:annotation>
                  <xs:documentation>???????????????????? ???????????????????? ?????????????????????????? ???????? ???? ????????</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
            <xs:element maxOccurs="100" name="WorkListGUID" type="base:GUIDType">
              <xs:annotation>
                <xs:documentation>?????????????????????????? ??????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="exportWorkingListResult">
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:choice>
            <xs:element ref="base:ErrorMessage" />
            <xs:element maxOccurs="100" name="exportWorkingListResult" type="tns:exportWorkingListResultType" />
          </xs:choice>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="exportWorkingListResultType">
    <xs:sequence>
      <xs:element name="WorkingList">
        <xs:annotation>
          <xs:documentation>???????????????? ??????????/??????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="tns:WorkingListBaseType">
              <xs:sequence>
                <xs:element ref="base:ModificationDate" />
                <xs:element ref="tns:WorkListStatus" />
                <xs:element maxOccurs="unbounded" name="WorkListItem">
                  <xs:annotation>
                    <xs:documentation>????????????/???????????? ?????????????? </xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:complexContent mixed="false">
                      <xs:extension base="tns:WorkingListItemType">
                        <xs:sequence>
                          <xs:element name="WorkListItemGUID" type="base:GUIDType">
                            <xs:annotation>
                              <xs:documentation>?????????????????????????? ????????????/???????????? ?????????????? </xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:extension>
                    </xs:complexContent>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="importWorkingPlanRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???????????????????? ???????????? ???? ?????????????? ??????????/??????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element maxOccurs="100" name="WorkingPlan" type="tns:WorkingPlanType">
              <xs:annotation>
                <xs:documentation>???????????????????? ???????? ???? ?????????????? ??????????/??????????</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
    <xs:key name="importWorkingPlanRequest_TransportGUIDKey">
      <xs:selector xpath=".//base:TransportGUID" />
      <xs:field xpath="." />
    </xs:key>
  </xs:element>
  <xs:element name="exportWorkingPlanRequest">
    <xs:annotation>
      <xs:documentation>?????????????? ?????????? ??????????/??????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element maxOccurs="100" name="work">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="WorkListGUID" type="base:GUIDType">
                    <xs:annotation>
                      <xs:documentation>?????????????????????????? ?????????????? </xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element ref="base:Year">
                    <xs:annotation>
                      <xs:documentation>?????? ?? ???????????? ?????????????? ??????????????</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="exportWorkingPlanResult">
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:choice>
            <xs:element ref="base:ErrorMessage" />
            <xs:element maxOccurs="100" name="exportWorkingPlanResult" type="tns:exportWorkingPlanResultType" />
          </xs:choice>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="exportWorkingPlanResultType">
    <xs:sequence>
      <xs:element name="WorkingPlan">
        <xs:annotation>
          <xs:documentation>???????? ??????????/??????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="WorkListGUID" type="base:GUIDType">
              <xs:annotation>
                <xs:documentation>?????????????????????????? ?????????????? ??????????/??????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element ref="base:Year">
              <xs:annotation>
                <xs:documentation>?????? ?? ???????????? ?????????????? ??????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="FIASHouseGuid" type="base:FIASHouseGUIDType">
              <xs:annotation>
                <xs:documentation>???????????????????? ???????????????????? ?????????????????????????? ???????? ???? ????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="12" name="ReportingPeriod">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="reportingPeriodGuid" type="base:GUIDType">
                    <xs:annotation>
                      <xs:documentation>???????????? ???? ???????????? ???????????????????? ?? ?????????????????????? ??????????????</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="MonthYear">
                    <xs:annotation>
                      <xs:documentation>?????? ?? ?????????? ?????????????????? ??????????????</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element ref="base:Month" />
                        <xs:element ref="base:Year" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="WorkPlanItem">
                    <xs:annotation>
                      <xs:documentation>???????? ???? ????????????/????????????</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="WorkPlanItemGUID" type="base:GUIDType">
                          <xs:annotation>
                            <xs:documentation>?????????????????????????? ????????????/???????????? ?????????????? </xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element ref="base:ModificationDate" />
                        <xs:element name="WorkGUID" type="base:nsiRef">
                          <xs:annotation>
                            <xs:documentation>???????????? ???? ???????????? (????????????) ?? ?????????????????????? ?????????? ?????????? ?? ?????????? ?????? ?????????????????????? (?????? 59)</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="0" name="workTypeGUID" type="base:nsiRef">
                          <xs:annotation>
                            <xs:documentation>???????????? ???? ?????? ???????????? (????????????) ?? ?????????????????????? ?????????? ?????????? ?? ?????????? (?????? 56)</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="0" name="sortIndex" type="xs:nonNegativeInteger">
                          <xs:annotation>
                            <xs:documentation>???????????????????? ?????????? ???????????? ?? ??????????????</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="0" ref="base:OKEI" />
                        <xs:choice>
                          <xs:element minOccurs="0" maxOccurs="unbounded" name="WorkDate" type="xs:date">
                            <xs:annotation>
                              <xs:documentation>???????? ???????????? ?????????? ???? ??????????</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="WorkCount" type="xs:nonNegativeInteger">
                            <xs:annotation>
                              <xs:documentation>???????????????????? ??????????</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:choice>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="importCompletedWorksRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???????????????? ?? ?????????????????????? ?????????????? ?? ??????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element name="CompletedWorksByPeriod" type="tns:CompletedWorksByPeriodType">
              <xs:annotation>
                <xs:documentation>???????????????? ?????????????????????? ?????????? ???? ???????????????? ????????????</xs:documentation>
              </xs:annotation>
              <xs:key name="importCompletedWorksRequest_ActGUIDKey">
                <xs:selector xpath="tns:ExistedAct/tns:ActGUID" />
                <xs:field xpath="." />
              </xs:key>
              <xs:key name="importCompletedWorksRequest_ActTransportGUIDKey">
                <xs:selector xpath="tns:NewAct/base:TransportGUID" />
                <xs:field xpath="." />
              </xs:key>
              <xs:keyref name="importCompletedWorksRequest_ActGUID_KeyRef" refer="tns:importCompletedWorksRequest_ActGUIDKey">
                <xs:selector xpath="tns:PlannedWork/tns:ActGUID" />
                <xs:field xpath="." />
              </xs:keyref>
              <xs:keyref name="importCompletedWorksRequest_ActTransportGUID_KeyRef" refer="tns:importCompletedWorksRequest_ActTransportGUIDKey">
                <xs:selector xpath="tns:PlannedWork/tns:ActTransportGUID" />
                <xs:field xpath="." />
              </xs:keyref>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
    <xs:key name="importCompletedWorksRequest_TransportGUIDKey">
      <xs:selector xpath=".//base:TransportGUID" />
      <xs:field xpath="." />
    </xs:key>
  </xs:element>
  <xs:element name="exportCompletedWorksRequest">
    <xs:annotation>
      <xs:documentation>?????????????? ???????????????? ?? ?????????????????????? ?????????????? ?? ??????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element maxOccurs="100" name="reportingPeriodGuid" type="base:GUIDType">
              <xs:annotation>
                <xs:documentation>???????????? ???? ???????????? ???????????????????? ?? ?????????????????????? ??????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="exportCompletedWorksResult">
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:choice>
            <xs:element ref="base:ErrorMessage" />
            <xs:element maxOccurs="100" name="exportCompletedWorksResult" type="tns:exportCompletedWorksResultType">
              <xs:key name="exportCompletedWorksResult_ActGUIDKey">
                <xs:selector xpath="tns:Act/tns:ActGUID" />
                <xs:field xpath="." />
              </xs:key>
              <xs:keyref name="exportCompletedWorksResult_ActGUID_KeyRef" refer="tns:exportCompletedWorksResult_ActGUIDKey">
                <xs:selector xpath="tns:PlannedWork/tns:ActGUID" />
                <xs:field xpath="." />
              </xs:keyref>
            </xs:element>
          </xs:choice>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="exportCompletedWorksResultType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CompletedWorksByPeriodExportType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="importHMServicesTarifsRequest">
    <xs:annotation>
      <xs:documentation>???????????? ?????????????? ??????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element maxOccurs="100" name="HMServicesTarifsDoc">
              <xs:complexType>
                <xs:complexContent mixed="false">
                  <xs:extension base="tns:HMServicesTarifsDocType">
                    <xs:sequence>
                      <xs:element ref="base:TransportGUID" />
                      <xs:element minOccurs="0" name="ServicesTarifDocGUID" type="base:GUIDType">
                        <xs:annotation>
                          <xs:documentation>?????????????????????????? ?????????????????? ???????????? ?? ?????? ?????? </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                    </xs:sequence>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
    <xs:key name="importHMServicesTarifsRequest_TransportGUIDKey">
      <xs:selector xpath=".//base:TransportGUID" />
      <xs:field xpath="." />
    </xs:key>
  </xs:element>
  <xs:element name="exportHMServicesTarifsRequest">
    <xs:annotation>
      <xs:documentation>?????????????? ?????????????? ??????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element name="ServiceType">
              <xs:annotation>
                <xs:documentation>?????? ??????????????-???????????????????????? ????????????
(M)unicipal - ???????????????????????? ????????????
(O)verhaul - ?????????????????????? ????????????
(S)ocial hiring - ???????????????????? ????????
(R)epair and maintenance - ???????????????????? ?? ???????????? ???????????? ??????????????????
(C)ommunal resourses - ???????????????????????? ??????????????
</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction>
                  <xs:simpleType>
                    <xs:list>
                      <xs:simpleType>
                        <xs:restriction base="xs:token">
                          <xs:enumeration value="M" />
                          <xs:enumeration value="O" />
                          <xs:enumeration value="S" />
                          <xs:enumeration value="R" />
                          <xs:enumeration value="C" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:list>
                  </xs:simpleType>
                  <xs:minLength value="1" />
                  <xs:maxLength value="2" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:choice>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="Municipalities" type="base:OKTMORefType">
                <xs:annotation>
                  <xs:documentation>?????????????????????????? ??????????????????????</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Region" type="base:RegionType">
                <xs:annotation>
                  <xs:documentation>?????????????? ????</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:choice>
            <xs:sequence minOccurs="0">
              <xs:annotation>
                <xs:documentation>????????????, ???? ?????????????? ?????????????????????? ????????????</xs:documentation>
              </xs:annotation>
              <xs:element name="EffectivePeriodTo" type="xs:date">
                <xs:annotation>
                  <xs:documentation>???????? ?????????????????? ???????????????? ????????????</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="EffectivePeriodFrom" type="xs:date">
                <xs:annotation>
                  <xs:documentation>???????? ???????????? ???????????????? ????????????</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
            <xs:element fixed="true" name="IsPublished" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>???????????????????????????? ???????????? ???????????????????????????? ??????????????????.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="exportHMServicesTarifsResult">
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:choice>
            <xs:element ref="base:ErrorMessage" />
            <xs:element maxOccurs="unbounded" name="exportHMServicesTarifsResult" type="tns:exportHMServicesTarifsResultType" />
          </xs:choice>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="exportHMServicesTarifsResultType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:HMServicesTarifsDocType">
        <xs:sequence>
          <xs:element name="ServicesTarifDocGUID" type="base:GUIDType">
            <xs:annotation>
              <xs:documentation>?????????????????????????? ?????????????????? ???????????? ?? ?????? ?????? </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CreationDate" type="xs:dateTime">
            <xs:annotation>
              <xs:documentation>???????? ???????????????? ?????????????????? ?? ?????? ??????</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="getStateResult">
    <xs:annotation>
      <xs:documentation>?????????????? ?????????????? ?????????????????????????? ??????????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseAsyncResponseType">
          <xs:choice minOccurs="0">
            <xs:element ref="base:ErrorMessage" />
            <xs:element maxOccurs="unbounded" name="ImportResult" type="base:CommonResultType" />
            <xs:element maxOccurs="unbounded" name="ExportHMServicesTarifsResult" type="tns:exportHMServicesTarifsResultType" />
            <xs:element maxOccurs="unbounded" name="ExportMSRSOResult" type="tns:exportMSRSOResultType" />
            <xs:element maxOccurs="unbounded" name="ExportCompletedWorksResult" type="tns:exportCompletedWorksResultType" />
            <xs:element maxOccurs="unbounded" name="ExportWorkingListResult" type="tns:exportWorkingListResultType" />
            <xs:element maxOccurs="unbounded" name="ExportWorkingPlanResult" type="tns:exportWorkingPlanResultType" />
          </xs:choice>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="WorkingListBaseType">
    <xs:annotation>
      <xs:documentation>???????????????? ???????????????? ???? ?????????????? ??????????/??????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="WorkListGUID" type="base:GUIDType">
        <xs:annotation>
          <xs:documentation>?????????????????????????? ??????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FIASHouseGuid" type="base:FIASHouseGUIDType">
        <xs:annotation>
          <xs:documentation>???????????????????? ???????????????????? ?????????????????????????? ???????? ???? ????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MonthYearFrom">
        <xs:annotation>
          <xs:documentation>???????????? "??"</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="base:Month" />
            <xs:element ref="base:Year" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="MonthYearTo">
        <xs:annotation>
          <xs:documentation>???????????? "????"</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="base:Month" />
            <xs:element ref="base:Year" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element maxOccurs="unbounded" name="Attachment" type="base:AttachmentType">
        <xs:annotation>
          <xs:documentation>??????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ContractGUID" type="base:GUIDType">
        <xs:annotation>
          <xs:documentation>?????????????????????????? ???????????????? ???????????????????? ?????? ?????? </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WorkingListItemType">
    <xs:annotation>
      <xs:documentation>????????????/???????????? ?? ??????????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:sequence>
          <xs:element name="Price">
            <xs:annotation>
              <xs:documentation>????????</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="tns:WorkCostType">
                <xs:totalDigits value="10" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element name="Amount" type="base:VolumeType">
            <xs:annotation>
              <xs:documentation>??????????</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Count">
            <xs:annotation>
              <xs:documentation>????????????????????</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:nonNegativeInteger">
                <xs:maxExclusive value="999" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
        <xs:element name="TotalCost" type="tns:WorkCostType">
          <xs:annotation>
            <xs:documentation>?????????? ??????????????????</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:element name="WorkItemNSI" type="base:nsiRef">
        <xs:annotation>
          <xs:documentation>???????????? ???? ????????????/???????????? ?????????????????????? (?????? 59)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Index">
        <xs:annotation>
          <xs:documentation>?????????? ???????????? ?? ?????????????? ?????????? ?? ??????????</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:nonNegativeInteger">
            <xs:minInclusive value="1" />
            <xs:maxInclusive value="9999" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WorkingListItemExportType">
    <xs:annotation>
      <xs:documentation>????????????/???????????? ?? ??????????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Price" type="tns:WorkCostType">
        <xs:annotation>
          <xs:documentation>????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Amount" type="base:VolumeType">
        <xs:annotation>
          <xs:documentation>??????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TotalCost" type="tns:WorkCostType">
        <xs:annotation>
          <xs:documentation>?????????? ??????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Count" type="tns:WorkCostType">
        <xs:annotation>
          <xs:documentation>????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WorkingPlanType">
    <xs:annotation>
      <xs:documentation>???????? ???? ?????????????? ??????????/??????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="WorkListGUID" type="base:GUIDType">
        <xs:annotation>
          <xs:documentation>?????????????????????????? ?????????????? ??????????/??????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="base:Year" />
      <xs:element maxOccurs="unbounded" name="WorkPlanItem">
        <xs:annotation>
          <xs:documentation>???????? ???? ????????????/????????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="WorkListItemGUID" type="base:GUIDType">
              <xs:annotation>
                <xs:documentation>?????????????????????????? ????????????/???????????? ?????????????? </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element ref="base:Month" />
            <xs:element ref="base:Year" />
            <xs:choice>
              <xs:element maxOccurs="unbounded" name="WorkDate" type="xs:date">
                <xs:annotation>
                  <xs:documentation>???????? ???????????? ?????????? ???? ??????????</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:sequence>
                <xs:element name="WorkCount" type="xs:nonNegativeInteger">
                  <xs:annotation>
                    <xs:documentation>???????????????????? ??????????</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:choice>
            <xs:element ref="base:TransportGUID" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element ref="base:TransportGUID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompletedWorkType">
    <xs:annotation>
      <xs:documentation>?????????????? ?????? ?????????????????????? ????????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="photos" type="base:AttachmentType">
        <xs:annotation>
          <xs:documentation>???????? ?????????????????????? ????????????/????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MonthlyWork">
        <xs:annotation>
          <xs:documentation>???????????????????? ?????????????????????? ??????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="count" type="xs:nonNegativeInteger">
              <xs:annotation>
                <xs:documentation>???????????????????? ??????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="WorkDate" type="xs:date">
              <xs:annotation>
                <xs:documentation>???????? ???????????? ??????????</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:choice>
        <xs:element minOccurs="0" name="ActTransportGUID" type="base:GUIDType">
          <xs:annotation>
            <xs:documentation>???????????????? ???????????? ?? ?????????? ?????????????????????? ???????? </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="ActGUID" type="base:GUIDType">
          <xs:annotation>
            <xs:documentation>???????????????? ???????????? ?? ?????????? ?????????????????????? ???????? </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:element minOccurs="0" name="TotalCost" type="tns:WorkCostType">
        <xs:annotation>
          <xs:documentation>?????????????????????? ?????????????????? ?????????????????????? ?????????? (???????? ???? ???????? ?????????????? ?? ??????????)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompletedWorkExportType">
    <xs:annotation>
      <xs:documentation>?????????????? ?????? ?????????????????????? ????????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="photos" type="base:AttachmentType">
        <xs:annotation>
          <xs:documentation>???????? ?????????????????????? ????????????/????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MonthlyWork">
        <xs:annotation>
          <xs:documentation>???????????????????? ?????????????????????? ??????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="count" type="xs:nonNegativeInteger">
              <xs:annotation>
                <xs:documentation>???????????????????? ??????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="WorkDate" type="xs:date">
              <xs:annotation>
                <xs:documentation>???????? ???????????? ??????????</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="ActGUID" type="base:GUIDType">
        <xs:annotation>
          <xs:documentation>???????????????? ???????????? ?? ???????? </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TotalCost" type="tns:WorkCostType">
        <xs:annotation>
          <xs:documentation>?????????????????????? ?????????????????? ?????????????????????? ?????????? (???????? ???? ???????? ?????????????? ?? ??????????)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompletedWorksByPeriodType">
    <xs:annotation>
      <xs:documentation>?????????????????????? ???????????? ???? ????????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="reportingPeriodGuid" type="base:GUIDType">
        <xs:annotation>
          <xs:documentation>???????????? ???? ???????????? ???????????????????? ?? ?????????????????????? ??????????????/??????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlannedWork">
        <xs:annotation>
          <xs:documentation>?????????????????????? ???????????????? ????????????/????????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="tns:CompletedWorkType">
              <xs:sequence>
                <xs:element name="WorkPlanItemGUID" type="base:GUIDType">
                  <xs:annotation>
                    <xs:documentation>?????????????????????????? ????????????/???????????? ?????????????? </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="plannedCount" type="xs:nonNegativeInteger">
                  <xs:annotation>
                    <xs:documentation>???????????????????? ?????????? ???? ??????????</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UnplannedWork">
        <xs:annotation>
          <xs:documentation>?????????????????????? ?????????????????????? ????????????/????????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="tns:CompletedWorkType">
              <xs:sequence>
                <xs:choice minOccurs="0">
                  <xs:element name="Accident">
                    <xs:annotation>
                      <xs:documentation>?????????????????? ???????????? (tns:UnplannedWork/workType/Code=3)</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" name="accidentObjectKind" type="base:nsiRef">
                          <xs:annotation>
                            <xs:documentation>???????????? ???? ???????????? ???????????? (?????? ???57)</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="0" name="accidentReason" type="xs:string">
                          <xs:annotation>
                            <xs:documentation>?????????????? ????????????</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="0" name="MSType" type="base:nsiRef">
                          <xs:annotation>
                            <xs:documentation>?????? ???? (?????? 3) ?????? ???????????????? ????????????:
- ???????????? ???????????????????? ????????????????????????????
- ???????????? ???????????????????????? ????????????????????????????</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                      </xs:sequence>
                      <xs:attribute name="workType">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="3" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="DeliveryRestriction">
                    <xs:annotation>
                      <xs:documentation>???? ???????????????????????? ???????????????? (tns:UnplannedWork/workType/Code=5)</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" name="MSType" type="base:nsiRef">
                          <xs:annotation>
                            <xs:documentation>?????? ???? (?????? 3)</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="0" name="OrganizationGUID" type="base:RegOrgType">
                          <xs:annotation>
                            <xs:documentation>?????????????????? ?????????????????????????? ??????????????</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                      </xs:sequence>
                      <xs:attribute name="workType">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="5" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:complexType>
                  </xs:element>
                </xs:choice>
                <xs:element minOccurs="0" name="Comment" type="xs:string">
                  <xs:annotation>
                    <xs:documentation>??????????????????????</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="Work" type="base:nsiRef">
                  <xs:annotation>
                    <xs:documentation>???????????? ???? ???????????? (????????????) ?? ?????????????????????? ?????????? ?????????? ?? ?????????? ?????? ?????????????????????? (?????? 59)</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element minOccurs="1" name="workType" type="base:nsiRef">
                  <xs:annotation>
                    <xs:documentation>???????????? ???? ?????? ???????????? (????????????) ?? ?????????????????????? ?????????? ?????????? ?? ?????????? (?????? 56)</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
        <xs:key name="workTypeKey">
          <xs:selector xpath="tns:workType/base:Code" />
          <xs:field xpath="." />
        </xs:key>
        <xs:keyref name="AccidentWorkKeyConstraint" refer="tns:workTypeKey">
          <xs:selector xpath="tns:Accident" />
          <xs:field xpath="@workType" />
        </xs:keyref>
        <xs:keyref name="DeliveryRestrictionConstraint" refer="tns:workTypeKey">
          <xs:selector xpath="tns:DeliveryRestriction" />
          <xs:field xpath="@workType" />
        </xs:keyref>
      </xs:element>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>??????</xs:documentation>
        </xs:annotation>
        <xs:element name="NewAct">
          <xs:annotation>
            <xs:documentation>???????????????? ???????????? ????????</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:complexContent mixed="false">
              <xs:extension base="base:AttachmentType">
                <xs:sequence>
                  <xs:element name="Date" type="xs:date">
                    <xs:annotation>
                      <xs:documentation>????????</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="Number">
                    <xs:annotation>
                      <xs:documentation>??????????</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="60" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="ContractNumber">
                    <xs:annotation>
                      <xs:documentation>?????????? ????????????????</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1" />
                        <xs:maxLength value="60" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element ref="base:TransportGUID" />
                </xs:sequence>
              </xs:extension>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="ExistedAct">
          <xs:annotation>
            <xs:documentation>???????????? ???? ?????????? ?????????????????????? ??????</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ActGUID" type="base:GUIDType">
                <xs:annotation>
                  <xs:documentation>?????????????????????????? ????????</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element ref="base:TransportGUID" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompletedWorksByPeriodExportType">
    <xs:annotation>
      <xs:documentation>?????????????????????? ???????????? ???? ???????????? (?????? ????????????????, ?????? TransportGUID)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="reportingPeriodGuid" type="base:GUIDType">
        <xs:annotation>
          <xs:documentation>???????????? ???? ???????????? ???????????????????? ?? ?????????????????????? ??????????????/??????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlannedWork">
        <xs:annotation>
          <xs:documentation>?????????????????????? ???????????????? ????????????/????????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="tns:CompletedWorkExportType">
              <xs:sequence>
                <xs:element name="WorkPlanItemGUID" type="base:GUIDType">
                  <xs:annotation>
                    <xs:documentation>?????????????????????????? ????????????/???????????? ?????????????? </xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="plannedCount" type="xs:nonNegativeInteger">
                  <xs:annotation>
                    <xs:documentation>???????????????????? ?????????? ???? ??????????</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UnplannedWork">
        <xs:annotation>
          <xs:documentation>?????????????????????? ?????????????????????? ????????????/????????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="tns:CompletedWorkType">
              <xs:sequence>
                <xs:choice minOccurs="0">
                  <xs:element name="Accident">
                    <xs:annotation>
                      <xs:documentation>?????????????????? ???????????? (tns:UnplannedWork/workType/Code=3)</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" name="accidentObjectKind" type="base:nsiRef">
                          <xs:annotation>
                            <xs:documentation>???????????? ???? ???????????? ???????????? (?????? ???57)</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="0" name="accidentReason" type="xs:string">
                          <xs:annotation>
                            <xs:documentation>?????????????? ????????????</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="0" name="MSType" type="base:nsiRef">
                          <xs:annotation>
                            <xs:documentation>?????? ???? (?????? 3) ?????? ???????????????? ????????????:
- ???????????? ???????????????????? ????????????????????????????
- ???????????? ???????????????????????? ????????????????????????????</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                      </xs:sequence>
                      <xs:attribute name="workType">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="3" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="DeliveryRestriction">
                    <xs:annotation>
                      <xs:documentation>???? ???????????????????????? ???????????????? (tns:UnplannedWork/workType/Code=5)</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" name="MSType" type="base:nsiRef">
                          <xs:annotation>
                            <xs:documentation>?????? ???? (?????? 3)</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="0" name="OrganizationGUID" type="base:RegOrgType">
                          <xs:annotation>
                            <xs:documentation>?????????????????? ?????????????????????????? ??????????????</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                      </xs:sequence>
                      <xs:attribute name="workType">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="5" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:complexType>
                  </xs:element>
                </xs:choice>
                <xs:element minOccurs="0" name="Comment" type="xs:string">
                  <xs:annotation>
                    <xs:documentation>??????????????????????</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="Work" type="base:nsiRef">
                  <xs:annotation>
                    <xs:documentation>???????????? ???? ???????????? (????????????) ?? ?????????????????????? ?????????? ?????????? ?? ?????????? ?????? ?????????????????????? (?????? 59)</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="workType" type="base:nsiRef">
                  <xs:annotation>
                    <xs:documentation>???????????? ???? ?????? ???????????? (????????????) ?? ?????????????????????? ?????????? ?????????? ?? ?????????? (?????? 56)</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Act">
        <xs:annotation>
          <xs:documentation>??????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="base:AttachmentType">
              <xs:sequence>
                <xs:element name="Date" type="xs:date">
                  <xs:annotation>
                    <xs:documentation>????????</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="Number">
                  <xs:annotation>
                    <xs:documentation>??????????</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:minLength value="1" />
                      <xs:maxLength value="60" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
                <xs:element name="ContractNumber">
                  <xs:annotation>
                    <xs:documentation>?????????? ????????????????</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:minLength value="1" />
                      <xs:maxLength value="60" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
                <xs:element name="ActGUID" type="base:GUIDType">
                  <xs:annotation>
                    <xs:documentation>?????????????????????????? ????????</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorkListStatus">
    <xs:annotation>
      <xs:documentation>????????????:
(A)PPROVED - ??????????????????
(C)ANCELLED - ??????????????</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="A" />
        <xs:enumeration value="C" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:simpleType name="WorkCostType">
    <xs:annotation>
      <xs:documentation>?????? ?????? ?????????????????? ??????????/??????????</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="22" />
      <xs:fractionDigits value="2" />
      <xs:minInclusive value="0" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="HMServicesTarifsDocType">
    <xs:annotation>
      <xs:documentation>????????????????. ???????????? ??????</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="base:DocumentPortalType">
        <xs:sequence>
          <xs:element name="EffectivePeriodFrom" type="xs:date">
            <xs:annotation>
              <xs:documentation>???????? ???????????? ???????????????? ????????????</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EffectivePeriodTo" type="xs:date">
            <xs:annotation>
              <xs:documentation>???????? ?????????????????? ???????????????? ????????????</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="CancelServicesTarifDocGUID" type="base:GUIDType">
            <xs:annotation>
              <xs:documentation>?????????????????? ?????????????? ???????????????? (???????????? ???? ????????????????)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element fixed="true" name="IsPublished" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>???????????????? ???????????? ???????????????? ?? ?????????????? "??????????????????????" ?? ?????????????????????? ???? ??????????????. ???????????????????????????? ???????????? ???????????????????????????? ??????????????????.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Region" type="base:RegionType">
            <xs:annotation>
              <xs:documentation>?????????????? ????</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:choice>
            <xs:annotation>
              <xs:documentation>?????????? ????</xs:documentation>
            </xs:annotation>
            <xs:element name="GKU">
              <xs:annotation>
                <xs:documentation>?????? ?????? = "???????????????????????? ????????????"
???????????????? ???????????????????????? ?? ??????????????????????:
- ?????????? ?????????????????????????????? ???????????? ???????????????? ???? ?? ?????????? ??????
- ?????????? ???????????????? ???????????????????????????? ?? ?????????? ?????? 
- ?????????????????????? ??????????????????????
</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="unbounded" name="MServiceType" type="base:nsiRef">
                    <xs:annotation>
                      <xs:documentation>?????? ???????????????????????? ???????????? (?????? ???3)</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="Municipalities" type="base:OKTMORefType">
                    <xs:annotation>
                      <xs:documentation>?????????????????????????? ??????????????????????</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element maxOccurs="unbounded" name="RSOOrganizationGUID" type="base:RegOrgVersionType">
                    <xs:annotation>
                      <xs:documentation>?????????????????????????? ??????</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="SKI">
                    <xs:annotation>
                      <xs:documentation>?????????????? ???????????????????????? ???????????????????????????? (??????)</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="Name">
                          <xs:annotation>
                            <xs:documentation>???????????????????????? ??????</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:maxLength value="140" />
                              <xs:minLength value="1" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                        <xs:element maxOccurs="unbounded" name="OKTMOs" type="base:OKTMORefType">
                          <xs:annotation>
                            <xs:documentation>?????????? ??????</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="KU">
              <xs:annotation>
                <xs:documentation>
?????? ?????? = "???????????????????????? ??????????????"
???????????????? ???????????????????????? ?? ??????????????????????:
- ?????????? ???????????????????????????? ???????????? ???????????????? ???? ?? ?????????????? ?????????????????????????? ??????????????
- ?????????????????????? ?????????????????????????????? ???????????? (?????????????????????? ???????????? ???? ??????????????)
- ?????????????????????????????????? ?????????????????????? </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="unbounded" name="MServiceType">
                    <xs:annotation>
                      <xs:documentation>?????? ?????????????????????????? ?????????????? (?????? ???2)</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:complexContent mixed="false">
                        <xs:extension base="base:nsiRef">
                          <xs:sequence>
                            <xs:element minOccurs="0" name="Name">
                              <xs:annotation>
                                <xs:documentation>???????????????????? ????????????????????????  ?????????????????????????? ??????????????</xs:documentation>
                              </xs:annotation>
                              <xs:simpleType>
                                <xs:restriction base="xs:string">
                                  <xs:minLength value="1" />
                                  <xs:maxLength value="100" />
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:element>
                          </xs:sequence>
                        </xs:extension>
                      </xs:complexContent>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element fixed="true" name="IsOverhaul" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>
?????? ?????? = "?????????????????????? ????????????"
???????????????? ???????????????????????? ?? ????????????????????????:
- ?????????? ?????????????????????????????? ???????????? ???????????????? ???? ?? ?????????? ??????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:sequence>
              <xs:annotation>
                <xs:documentation>???????????????? ???????????????????????? ?? ????????????????????????:
- ?????????? ?????????????????????????????? ???????????? ???????????????? ???? ?? ?????????? ??????</xs:documentation>
              </xs:annotation>
              <xs:element maxOccurs="unbounded" name="OKTMOs" type="base:OKTMORefType">
                <xs:annotation>
                  <xs:documentation>?????????????????????????? ??????????????????????</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ServiceType">
                <xs:annotation>
                  <xs:documentation>?????? ??????????????-???????????????????????? ????????????
(S)ocial hiring - ???????????????????? ????????
(R)epair and maintenance - ???????????????????? ?? ???????????? ???????????? ??????????????????
</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction>
                    <xs:simpleType>
                      <xs:list>
                        <xs:simpleType>
                          <xs:restriction base="xs:token">
                            <xs:enumeration value="S" />
                            <xs:enumeration value="R" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:list>
                    </xs:simpleType>
                    <xs:minLength value="1" />
                    <xs:maxLength value="2" />
                    <xs:enumeration value="S" />
                    <xs:enumeration value="R" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>